@font-face {
    font-family: "RFDewiExpanded";
    font-style: normal;
    font-weight: 700;
    src: url("assets/fonts/RFDewiExpanded-Bold.woff"), url("assets/fonts/RFDewiExpanded-Bold.woff2");
}

@font-face {
    font-family: "RFDewiExpanded";
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/RFDewiExpanded-Regular.woff"), url("assets/fonts/RFDewiExpanded-Regular.woff2");
}