@import "global";

@layer utilities {
    .noscroll{
        @apply overflow-hidden;
    }
    .--blur{
        @apply blur;
    }
    .triangle{
        @apply relative after:content-[""] after:block after:absolute after:top-[-0.278vw] after:left-[-0.278vw] after:border-t-[2.778vw] after:border-r-[2.778vw] after:border-transparent after:border-t-rs-accent after:h-0 after:w-0 sm:after:border-t-[0.625vw] sm:after:border-r-[0.625vw] sm:after:top-[-0.052vw] sm:after:left-[-0.052vw]
    }
    .inner{
        @apply px-mob-20 sm:px-fs-40
    }

    .cases__items .slick-slide {
        @apply mx-mob-4 sm:mx-fs-30;
    }
    .cases__items .slick-list {
        @apply -mx-mob-4 sm:-mx-fs-30;
    }

    .reviews__items .slick-slide {
        @apply mx-mob-5 sm:mx-fs-10;
    }
    .reviews__items .slick-list {
        @apply -mx-mob-5 sm:-mx-fs-10 overflow-visible;
    }
    // .reviews__items .slick-list{
    //     @apply 
    // }
    .catalog__item-qty.--positive span{
        @apply text-rs-accent
    }
    .catalog__item-qty.--negative span{
        @apply text-rs-error
    }
    .catalog__item-price.--new{
        @apply text-rs-error mr-mob-30 sm:mr-fs-30
    }
    .catalog__item-price.--old{
        @apply line-through
    }
    .page-title{
        @apply uppercase text-mob-30 leading-110 font-bold sm:text-fs-60 mb-mob-34 sm:mb-fs-65
    }

    .crumb:not(:last-child){
        @apply relative after:absolute after:content-[''] after:block after:border-r-0 after:border-t-mob-4 after:border-b-mob-4 after:border-l-mob-5  sm:after:border-t-fs-4 sm:after:border-b-fs-4 sm:after:border-l-fs-5 after:border-t-transparent after:border-b-transparent after:border-r-transparent after:border-l-rs-accent after:-right-mob-17 sm:after:-right-fs-25 after:top-1/2 after:-translate-y-1/2 duration-200 transition-colors hover:text-rs-accent
    }
    .crumb:last-child{
        @apply text-white/50
    }
}

@layer components{
    .body{
        @apply relative bg-black;
    }

    .breadcrumbs{
        @apply flex flex-row gap-x-mob-30 sm:gap-x-fs-45 mt-mob-20 sm:mt-fs-30 mb-mob-20 sm:mb-fs-40 whitespace-nowrap overflow-hidden
    }

    .button{
        @apply uppercase transition-colors duration-200 bg-rs-accent hover:bg-rs-accent-active focus:bg-rs-accent-active sm:text-fs-16 text-mob-16 text-black py-mob-20 px-mob-40 sm:py-fs-25 sm:px-fs-40 font-bold;
    }
    .button.--small{
        @apply px-mob-16 py-mob-13 sm:px-fs-16 sm:py-fs-13 text-mob-11 sm:text-fs-11 leading-140;
    }
    .button.--bigger{
        @apply py-mob-21 sm:py-fs-26 leading-200
    }

    .arrow{
        @apply transition-colors duration-200 bg-rs-accent hover:bg-rs-accent-active focus:bg-rs-accent-active inline-block w-mob-34 h-mob-34 bg-[url('/assets/img/arrow_next.svg')] bg-center bg-no-repeat group-hover:bg-rs-accent-active bg-[length:4.722vw_4.444vw] sm:w-fs-50 sm:h-fs-50 sm:bg-[length:1.146vw_1.042vw] cursor-pointer
    }
    .arrow.--prev{
        @apply bg-[url('/assets/img/arrow_prev.svg')]
    }
    // .bullets{
    //     @apply
    // }

    .header .header__bottom ul li, .footer .footer__top ul li{
        @apply uppercase leading-140 text-mob-12 text-center sm:py-fs-23 sm:text-fs-12 sm:text-left transition-colors duration-200 hover:text-rs-accent-active;
    }
    .header .header__bottom ul li:not(:last-child), .footer .footer__top ul li:not(:last-child){
        @apply relative  sm:after:content-["/"] sm:after:inline-block sm:after:absolute sm:after:-right-[1.719vw] sm:after:text-rs-gray mb-mob-14 sm:mb-0;
    }

    .header .header__bottom ul li{
        @apply border-b-2 border-b-transparent;
    }
    .header .header__bottom ul li.--current{
        @apply border-b-rs-accent-active text-rs-accent-active;
    }

    .footer .footer__top ul li{
        @apply border-t-2 border-t-transparent;
    }
    .footer .footer__top ul li.--current{
        @apply  sm:border-t-rs-accent-active text-rs-accent-active;
    }

    .services__item-text.wysiwyg p{
        @apply text-mob-12 leading-140 sm:text-fs-16
    }
    .services__item-text.wysiwyg ul{
        @apply uppercase font-bold text-mob-11 sm:text-fs-13
    }
    .services__item-text.wysiwyg ul li{
        @apply sm:leading-150 mark
    }
    .services__item-text.wysiwyg ul li:not(:last-child), .services__item-text.wysiwyg p:not(:last-child){
        @apply mb-mob-10
    }
    .services__item-text.wysiwyg ul li:not(:last-child){
        @apply sm:mb-fs-20
    }
    .services__item-text.wysiwyg p:not(:last-child){
        @apply sm:mb-fs-30
    }

    .about__item:not(:last-child){
        @apply border-b border-b-rs-gray sm:border-b-0 sm:border-r sm:border-r-rs-gray
    }

    .cases__item-main p{
        @apply leading-140
    }
    .cases__item-main p:not(:last-child){
        @apply mb-mob-20 sm:mb-fs-20
    }
    
    .reviews__item-head{
        @apply sm:bg-[url("/assets/img/quote.svg")] bg-[length:3.698vw_2.604vw] bg-no-repeat bg-right
    }

    ul.bullets{
        @apply text-all-0 list-none flex flex-row items-center justify-center gap-x-mob-20 sm:gap-x-fs-30 mt-mob-30 sm:mt-fs-40
    }
    ul.bullets li{
        @apply h-mob-6 sm:h-fs-8
    }
    ul.bullets button{
        @apply  w-mob-6 h-mob-6 sm:w-fs-8 sm:h-fs-8 bg-white transition-colors duration-200 hover:bg-rs-accent
    }
    ul.bullets li.slick-active button{
        @apply bg-rs-accent-active
    }

    .mark{
        @apply relative block pl-mob-26 sm:pl-fs-26 before:inline-block before:absolute before:w-mob-6 before:h-mob-6 sm:before:h-fs-6 sm:before:w-fs-6 before:content-[""] before:bg-rs-accent before:top-1/2 before:-translate-y-1/2 before:left-0
    }

    .info__partners div:not(:last-child){
        @apply border-r-black border-r-mob-1 sm:border-r-fs-1
    }
}


.front .front__top > div{
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 70%), url('/assets/img/front_mob.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: top;
}
@media (min-width: 660px) {
    .front .front__top > div{
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%), linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0,0,0,0)), url('/assets/img/front.webp');
        background-size: cover;
        background-position-y: unset;
    }
}

// *{
//     border: red 1px solid;
// }
