@import "global";

@layer utilities {
    input[type="tel"], input[type="text"]{
        @apply duration-200 transition-colors hover:border-rs-accent focus:border-rs-accent outline-none
    }
    input[type="tel"].--error, input[type="text"].--error{
        @apply border-rs-error
    }
    .noscroll{
        @apply overflow-hidden;
    }
    .--blur{
        @apply blur;
    }
    .triangle{
        @apply relative after:content-[""] after:block after:absolute after:top-[-0.278vw] after:left-[-0.278vw] after:border-t-[2.778vw] after:border-r-[2.778vw] after:border-transparent after:border-t-rs-accent after:h-0 after:w-0 sm:after:border-t-[0.625vw] sm:after:border-r-[0.625vw] sm:after:top-[-0.052vw] sm:after:left-[-0.052vw]
    }
    .inner{
        @apply px-mob-20 sm:px-fs-40
    }

    .cases__items .slick-slide {
        @apply mx-mob-4 sm:mx-fs-30;
    }
    .cases__items .slick-list {
        @apply -mx-mob-4 sm:-mx-fs-30;
    }

    .card-slider.--mobile .slick-slide {
        @apply mx-mob-3;
    }
    .card-slider.--mobile .slick-list {
        @apply -mx-mob-3;
    }

    .card-slider.--desktop .slick-slide {
        @apply sm:mx-fs-15;
    }
    .card-slider.--desktop .slick-list {
        @apply sm:-mx-fs-15;
    }

    .reviews__items .slick-slide {
        @apply mx-mob-5 sm:mx-fs-10;
    }
    .reviews__items .slick-list {
        @apply -mx-mob-5 sm:-mx-fs-10 overflow-visible;
    }
    // .reviews__items .slick-list{
    //     @apply 
    // }
    .catalog__item-qty.--positive span{
        @apply text-rs-accent
    }
    .catalog__item-qty.--negative span{
        @apply text-rs-error
    }
    .catalog__item-price.--new{
        @apply text-rs-error mr-mob-30 sm:mr-fs-30
    }
    .catalog__item-price.--old{
        @apply line-through
    }


    .card__price.--new{
        @apply mr-mob-30 sm:mr-fs-30
    }
    .card__price.--old{
        @apply text-[#A7A7A7] line-through
    }

    .card__info-descr p{
        @apply leading-140 text-mob-12 sm:text-fs-14
    }
    .card__info-descr p:not(:last-child){
        @apply mb-mob-15 sm:mb-fs-18
    }
    .card__info-list li:not(:last-child){
        @apply mb-mob-15 sm:mb-fs-12
    }
    .card__info-button:not(.--active){
        @apply border-b-transparent
    }
    .card__info-button.--active{
        @apply border-b-rs-accent
    }
    .card__info-button{
        @apply relative translate-y-fs-3
    }

    .card__content{
        @apply sm:relative sm:before:absolute sm:before:content-[''] sm:before:h-full sm:before:w-fs-1 sm:before:left-[54%] sm:before:bg-black
    }

    .page-title{
        @apply uppercase text-mob-30 leading-110 font-bold sm:text-fs-60 mb-mob-34 sm:mb-fs-65
    }

    .crumb:not(:last-child){
        @apply relative after:absolute after:content-[''] after:block after:border-r-0 after:border-t-mob-4 after:border-b-mob-4 after:border-l-mob-5  sm:after:border-t-fs-4 sm:after:border-b-fs-4 sm:after:border-l-fs-5 after:border-t-transparent after:border-b-transparent after:border-r-transparent after:border-l-rs-accent after:-right-mob-17 sm:after:-right-fs-25 after:top-1/2 after:-translate-y-1/2 duration-200 transition-colors hover:text-rs-accent
    }
    .crumb:last-child{
        @apply text-white/50 overflow-ellipsis overflow-hidden
    }

    ul.card__descr li{
        @apply relative before:absolute before:content-[''] before:block before:border-r-0 before:border-t-mob-4 before:border-b-mob-4 before:border-l-mob-5 sm:before:border-t-fs-4 sm:before:border-b-fs-4 sm:before:border-l-fs-5 before:border-t-transparent before:border-b-transparent before:border-r-transparent before:border-l-rs-accent before:-left-mob-17 sm:before:-left-fs-25 before:top-mob-5 sm:before:top-fs-5 ml-mob-26 sm:ml-fs-26
    }
    ul.card__descr li:not(:last-child){
        @apply mb-mob-16 sm:mb-fs-12
    }

    .--hidden{
        @apply hidden
    }
}

@layer components{
    .overlay{
        @apply overflow-hidden fixed w-screen h-screen z-[110] top-0 left-0 bottom-0 right-0 backdrop-blur-md duration-200 opacity-0 invisible;
    }
    .overlay.--active{
        @apply opacity-100 visible
    }
    .menu{
        @apply absolute block z-[150] opacity-0 duration-300 top-0 right-0 bottom-0 bg-white
    }
    .menu.--active{
        @apply opacity-100
    }


    .body{
        @apply relative bg-black;
    }

    .breadcrumbs{
        @apply flex flex-row gap-x-mob-30 sm:gap-x-fs-45 mt-mob-20 sm:mt-fs-30 mb-mob-20 sm:mb-fs-40 whitespace-nowrap overflow-hidden
    }

    .button{
        @apply uppercase transition-colors duration-200 bg-rs-accent hover:bg-rs-accent-active focus:bg-rs-accent-active sm:text-fs-16 text-mob-16 text-black py-mob-20 px-mob-40 sm:py-fs-25 sm:px-fs-40 font-bold;
    }
    .button.--small{
        @apply px-mob-16 py-mob-13 sm:px-fs-16 sm:py-fs-13 text-mob-11 sm:text-fs-11 leading-140;
    }
    .button.--bigger{
        @apply py-mob-21 sm:py-fs-26 leading-200
    }

    .arrow{
        @apply transition-colors duration-200 bg-rs-accent hover:bg-rs-accent-active focus:bg-rs-accent-active inline-block w-mob-34 h-mob-34 bg-[url('/assets/img/arrow_next.svg')] bg-center bg-no-repeat group-hover:bg-rs-accent-active bg-[length:4.722vw_4.444vw] sm:w-fs-50 sm:h-fs-50 sm:bg-[length:1.146vw_1.042vw] cursor-pointer
    }
    .arrow.--prev{
        @apply bg-[url('/assets/img/arrow_prev.svg')]
    }
    // .bullets{
    //     @apply
    // }

    .header .header__bottom ul li, .footer .footer__top ul li{
        @apply uppercase leading-140 text-mob-12 text-center sm:py-fs-23 sm:text-fs-12 sm:text-left transition-colors duration-200 hover:text-rs-accent-active;
    }
    .header .header__bottom ul li:not(:last-child), .footer .footer__top ul li:not(:last-child){
        @apply relative  sm:after:content-["/"] sm:after:inline-block sm:after:absolute sm:after:-right-[1.719vw] sm:after:text-rs-gray mb-mob-14 sm:mb-0;
    }

    .header .header__bottom nav.nav ul{
        @apply flex flex-row gap-x-fs-66
    }

    .header .header__bottom ul li{
        @apply border-b-2 border-b-transparent;
    }
    .header .header__bottom ul li.--current{
        @apply border-b-rs-accent-active text-rs-accent-active;
    }

    .footer .footer__top ul li{
        @apply border-t-2 border-t-transparent;
    }
    .footer .footer__top ul li.--current{
        @apply  sm:border-t-rs-accent-active text-rs-accent-active;
    }

    .footer nav.nav ul{
        @apply flex flex-col justify-center gap-x-fs-66 sm:flex-row sm:justify-start
    }

    .services__item-text.wysiwyg p{
        @apply text-mob-12 leading-140 sm:text-fs-16
    }
    .services__item-text.wysiwyg ul{
        @apply uppercase font-bold text-mob-11 sm:text-fs-13
    }
    .services__item-text.wysiwyg ul li{
        @apply sm:leading-150 mark
    }
    .services__item-text.wysiwyg ul li:not(:last-child), .services__item-text.wysiwyg p:not(:last-child){
        @apply mb-mob-10
    }
    .services__item-text.wysiwyg ul li:not(:last-child){
        @apply sm:mb-fs-20
    }
    .services__item-text.wysiwyg p:not(:last-child){
        @apply sm:mb-fs-30
    }
    

    .about__item:not(:last-child){
        @apply border-b border-b-rs-gray sm:border-b-0 sm:border-r sm:border-r-rs-gray
    }

    .cases__item-main p{
        @apply leading-140
    }
    .cases__item-main p:not(:last-child){
        @apply mb-mob-20 sm:mb-fs-20
    }
    
    .reviews__item-head{
        @apply sm:bg-[url("/assets/img/quote.svg")] bg-[length:3.698vw_2.604vw] bg-no-repeat bg-right
    }

    ul.bullets{
        @apply text-all-0 list-none flex flex-row items-center justify-center gap-x-mob-20 sm:gap-x-fs-30 mt-mob-30 sm:mt-fs-40
    }
    ul.bullets li{
        @apply h-mob-6 sm:h-fs-8
    }
    ul.bullets button{
        @apply  w-mob-6 h-mob-6 sm:w-fs-8 sm:h-fs-8 bg-white transition-colors duration-200 hover:bg-rs-accent
    }
    ul.bullets li.slick-active button{
        @apply bg-rs-accent-active
    }

    .mark{
        @apply relative block pl-mob-26 sm:pl-fs-26 before:inline-block before:absolute before:w-mob-6 before:h-mob-6 sm:before:h-fs-6 sm:before:w-fs-6 before:content-[""] before:bg-rs-accent before:top-1/2 before:-translate-y-1/2 before:left-0
    }

    .info__partners div:not(:last-child){
        @apply border-r-black border-r-mob-1 sm:border-r-fs-1
    }
    ul.tags{
        @apply flex flex-row flex-wrap gap-mob-4 sm:gap-fs-20 mt-mob-40 mb-mob-60 sm:my-fs-35
    }
    ul.tags li{
        @apply py-mob-10 px-mob-20 bg-[#1D1D1D] w-fit text-mob-12 sm:text-fs-14 sm:py-fs-10 sm:px-fs-20
    }

    .services__item.--page ul li{
        @apply mark text-mob-12 sm:text-fs-14
    }
    .services__item.--page ul li:not(:last-child){
        @apply mb-mob-16 sm:mb-fs-10
    }

    .overlay-popup.menu ul li a{
        @apply leading-140 text-mob-16 sm:text-fs-16 uppercase font-bold hover:text-rs-accent duration-200 transition-colors
    }
    .overlay-popup.menu nav ul{
        @apply flex flex-col mt-mob-15 sm:mt-fs-15
    }
    .overlay-popup.menu ul li:not(:last-child){
        @apply mb-mob-20 sm:mb-fs-20
    }

    .article{
        @apply sm:bg-white inner sm:pt-fs-40 sm:pb-fs-110 pb-mob-40
    }
    .article-image-wrapper{ 
        @apply h-mob-190 w-mob-360 sm:h-fs-500 sm:w-full sm:pt-fs-40 sm:px-fs-40 bg-white
    }
    .article-image{
        @apply w-full h-full bg-no-repeat bg-center bg-cover
    }
    .article .wysiwyg{
        @apply bg-white text-black
    }
    .article-container{
        @apply w-[51.3vw] mx-auto
    }
    .article .wysiwyg h1{
        @apply uppercase font-bold leading-140 text-mob-30 sm:text-fs-40 mb-mob-36 sm:mb-fs-60 mt-mob-36 sm:mt-0
    }
    .article .wysiwyg h2{
        @apply uppercase font-bold leading-140 text-mob-18 sm:text-fs-30 mt-mob-40 sm:mt-fs-60 mb-mob-30 sm:mb-fs-30
    }
    .article .wysiwyg h3{
        @apply uppercase font-bold leading-140 text-mob-16 sm:text-fs-22 mt-mob-40 sm:mt-fs-60 mb-mob-30 sm:mb-fs-30
    }
    .article .wysiwyg p{
        @apply leading-140 text-mob-12 sm:leading-160 sm:text-fs-14 my-mob-16 sm:my-fs-30
    }
    .article .wysiwyg ul{
        @apply my-mob-16 sm:my-fs-30
    }
    .article .wysiwyg ul li{
        @apply mark leading-140 text-mob-12 sm:leading-160 sm:text-fs-14
    }
    .article .wysiwyg ul li:not(:last-child){
        @apply mb-mob-16 sm:mb-fs-20
    }
    .article .wysiwyg ol{
        @apply my-mob-16 sm:my-fs-30 list-none
    }
    .article .wysiwyg ol li{
        @apply leading-140 text-mob-12 sm:leading-160 sm:text-fs-14 before:font-bold before:text-mob-14 sm:before:text-fs-18 flex flex-row gap-x-mob-16 sm:gap-x-fs-16
    }
    .article .wysiwyg ol li:not(:last-child){
        @apply mb-mob-16 sm:mb-fs-20
    }
    .article .wysiwyg div.table-wrapper{
        @apply overflow-x-scroll mt-mob-16 mb-mob-60 sm:my-fs-60
    }
    .article .wysiwyg table{
        @apply w-full text-mob-13 sm:text-fs-13 max-sm:whitespace-nowrap
    }
    .article .wysiwyg table td{
        @apply p-mob-20 sm:p-fs-20 leading-140 
    }
    .article .wysiwyg table td:first-child{
        @apply font-bold uppercase  
    }
    .article .wysiwyg table td:not(:last-child){
        @apply border-black border-r-mob-1 sm:border-r-fs-1
    }
    .article .wysiwyg table thead{
        @apply border-black border-b-mob-1 sm:border-b-fs-1 font-bold uppercase
    }
    .article .wysiwyg table tr:not(:last-child){
        @apply border-black border-b-mob-1 sm:border-b-fs-1
    }
    .article .wysiwyg img{
        @apply w-full h-auto mt-mob-36 mb-mob-40 sm:my-fs-60
    }
}
.article .wysiwyg ol{
    counter-reset: listitems;
}
.article .wysiwyg ol li:nth-child(-n+9)::before{
    counter-increment: listitems;
    content: "0" counter(listitems) " ";
    // Да знаю я, что есть leading-zero, мне было скучно
}
.article .wysiwyg ol li:nth-child(n+10)::before{
    counter-increment: listitems;
    content: counter(listitems) " ";
}

.overlay-popup.menu{
    background-position-y: 95%;
    background-position-x: center;
    background-size: 90% auto;
}
@media (min-width: 660px) {
    .overlay-popup.menu{
        background-position-y: 95%;
        background-position-x: center;
        background-size: 90% auto;
    }
}
.mfp-close{
    background-color: rgb(255,208,39) !important;
    opacity: 1 !important;
    width: 5.556vw;
    height: 5.556vw;
    display: flex !important;
    justify-content: center;
    align-items: center;
    transform: translateX(-55%) translateY(25%);
    font-size: 4.9vw !important;
}
@media (min-width: 660px) {
    .mfp-close{
        position: absolute !important;
        top: 0 !important;
        bottom: 0 !important;
        left: 66% !important;
        transform: translateX(-25%) translateY(25%);
        width: 1.823vw !important;
        height: 1.823vw !important;
        font-size: 1.5vw !important;
    }
}
.mfp-close:hover{
    background-color: rgb(255,184,0);
}

.services .services__top > div{
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 70%), url('/assets/img/bg_services_mobile.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: top;
}
@media (min-width: 660px) {
    .services .services__top > div{
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%), linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0,0,0,0)), url('/assets/img/bg_services.webp');
        background-size: cover;
        background-position-y: unset;
    }
}

.front .front__top > div{
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 70%), url('/assets/img/front_mob.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: top;
}
@media (min-width: 660px) {
    .front .front__top > div{
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%), linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0,0,0,0)), url('/assets/img/front.webp');
        background-size: cover;
        background-position-y: unset;
    }
}


// *{
//     border: red 1px solid;
// }
