footer.footer.mt-mob-36(class="sm:mt-fs-80")
    .footer__top.flex.flex-col.items-center.border-t.border-rs-gray.font-bold.py-mob-40.px-mob-20(class="sm:flex-row sm:px-fs-40 sm:py-0")
        nav.nav
            ul.flex.flex-col.justify-center.gap-x-fs-66(class="sm:flex-row sm:justify-start")
                li 
                    a(href="#") Тюнинг
                li 
                    a(href="#") ТО
                li 
                    a(href="#") Тиковое покрытие
                li 
                    a(href="#") Каталог 
                li.--current
                    a(href="#") Продажа 
                li 
                    a(href="#") О компании
                li 
                    a(href="#") Контакты
        button.hidden.items-center.justify-center.border-l.border-r.border-rs-gray.w-fs-66.h-fs-66.transition-colors.ml-auto(class="hover:bg-rs-accent-active sm:flex")
            img(src="/assets/img/burger.svg" data-src="/assets/img/burger.svg" alt="Меню").w-fs-20.h-fs-15
    .footer__middle.py-mob-40.border-t.border-t-rs-gray(class="sm:py-fs-30")
        .footer__middle-inner.px-mob-20(class="sm:px-fs-40")
            div.flex.flex-col.items-center.gap-y-mob-30.text-center(class="sm:text-left sm:flex-row sm:gap-y-0 sm:justify-between")
                div.flex.flex-col.items-center.gap-y-mob-30.text-center(class="sm:text-left sm:flex-row sm:gap-y-0")
                    div.flex.flex-col.items-center.gap-y-mob-20(class="sm:flex-row sm:gap-x-fs-20 sm:gap-y-0 sm:mr-fs-70")
                        img.lozad.w-mob-24.h-mob-24(class="sm:w-fs-24 sm:h-fs-24" src="/assets/img/pin.svg" data-src="/assets/img/pin.svg" alt="Указатель")
                        p.text-mob-11.leading-160(class="sm:text-fs-13") Долгопрудный, <br> улица Уличных улиц, дом 15
                    p.text-mob-12.leading-160(class="sm:text-fs-13") Время работы: <br> ПН-ВС 09:00-19:00
                div.flex.flex-col.items-center.gap-y-mob-30.text-center(class="sm:text-left sm:flex-row sm:gap-y-0")
                    div.flex.flex-col.items-center.gap-x-fs-14(class="sm:flex-row sm:mr-fs-55")
                        div.flex.flex-col.items-center.gap-y-mob-20.mb-mob-14(class="sm:flex-row sm:ml-fs-55 sm:gap-x-fs-20 sm:mb-0")
                            img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-20 sm:h-fs-20" src="/assets/img/phone.svg" data-src="/assets/img/phone.svg" alt="Телефон")
                            a.text-mob-14(href="tel:HREF_PHONE_NUMBER" class="sm:text-fs-18") +7 (499) 000-00-00
                        div.flex.flex-row.items-center.gap-x-mob-14(class="sm:gap-x-fs-14")
                            a(href="HREF_WHATSAPP")
                                img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-20 sm:h-fs-20" src="/assets/img/wa.svg" data-src="/assets/img/wa.svg" alt="WhatsApp")
                            a(href="HREF_TELEGRAM")
                                img.lozad.w-mob-20.h-mob-16(class="sm:w-fs-20 sm:h-fs-16" src="/assets/img/tg.svg" data-src="/assets/img/tg.svg" alt="Telegram")
                    a(href="#callback").button.--small.text-center.inline-block перезвоните мне
    .footer__bottom.py-mob-30.border-t.border-t-rs-gray(class="sm:py-fs-30")
        .footer__bottom-inner.px-mob-20.flex.flex-col.gap-y-mob-30(class="sm:px-fs-40 sm:gap-y-0 sm:justify-between")
            div.text-rs-gray.text-mob-12.leading-140.text-center(class="sm:text-fs-14 sm:text-left")
                p(class="sm:inline") ИНН: 123456677 
                p(class="sm:inline") ОГРН: 12345677675 
                p(class="sm:inline") КПП: 112344555 
            div.text-mob-12.leading-140.text-center(class="sm:text-fs-14 sm:text-right")
                span.block(class="sm:inline") Сайт разработали:
                span 
                    a.underline(href="LINK_DEV_1") СonvertMonster
                    span  и 
                    a.underline(href="LINK_DEV_2") VanGogh
        img(class="w-[99vw] sm:w-full" src="/assets/img/riverstories.svg" data-src="/assets/img/riverstories.svg" alt="RiverStories")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="assets/js/libs.min.js")  
    script(src="assets/js/main.js")

</body>
</html>