<form method="POST" name="popup_form" action="forms/send_popup_contacts.php" class="popup pointer-events-auto mfp-hide overflow-hidden sm:max-w-[36vw] w-auto mx-auto max-w-[95vw] bg-white text-black pt-mob-40 pb-mob-30 px-mob-20 sm:pt-fs-60 sm:pb-fs-40 sm:px-fs-40" id="popup">
  p.text-center.font-bold.text-mob-26.uppercase.mb-mob-30(class="sm:text-fs-28 sm:mb-fs-40") консультация специалиста по решению ваших задач
  div.flex.flex-col.gap-y-mob-25(class="sm:gap-y-fs-25")
    div.flex.flex-col.gap-y-mob-25(class="sm:gap-y-fs-25")
        <input type="text" hidden class="popup_hidden_input" name="popup_hidden">
        div
            div.text-mob-12.flex.flex-row.items-center.justify-between.mb-mob-16(class="sm:text-fs-16 sm:mb-fs-20")
                label(for="popup_name") Введите имя:
                span.input-error.text-rs-error.--hidden Ошибка ввода
            <input class="text-black sm:text-fs-16 text-mob-16 w-full border-mob-1 name sm:border-fs-1 border-black py-mob-25 px-mob-23 sm:py-fs-18 sm:px-fs-20" name="popup_name" id="popup_name" type="text" placeholder="Ваше имя">
        div
            div.text-mob-12.flex.flex-row.items-center.justify-between.mb-mob-16(class="sm:text-fs-16 sm:mb-fs-20")
                label(for="popup_tel") Номер телефона:
                span.input-error.text-rs-error.--hidden Ошибка ввода
            <input class="text-black sm:text-fs-16 text-mob-16 w-full tel border-mob-1 sm:border-fs-1 border-black py-mob-25 px-mob-23 sm:py-fs-18 sm:px-fs-20" name="popup_tel" id="popup_tel" pattern="\+7\s\d\d\d\s\d\d\d\s\d\d\s\d\d" type="tel" placeholder="+7 XXX XXX XX XX" maxlength="16" minlength="16" required>
    <button class="button" name="popup_submit" type="submit">Отправить</button>
</form>
.overlay(class="overflow-y-scroll overflow-x-hidden sm:overflow-auto")
    .overlay-popup.menu.overflow-visible.pointer-events-auto.shadow-xl.right-0.left-auto.text-black.bg-white.bg-no-repeat.bg-clip-content(class="bg-[url('/assets/img/bg_menu_riverstories.webp')] min-h-full h-fit")
        .flex.flex-col.px-mob-20.pb-mob-40(class="sm:px-fs-40 sm:pb-fs-40")
            div.flex.flex-row.items-center.justify-end.gap-mob-30.py-mob-35(class="sm:gap-x-fs-20 sm:py-fs-35")
                span.text-mob-14(class="sm:text-fs-14") Меню
                button.menu-close.w-mob-27.h-mob-27(type="button" class="sm:w-fs-27 sm:h-fs-27")
                    img.lozad.w-mob-27.h-mob-27(class="sm:w-fs-27 sm:h-fs-27" src="assets/img/cross_black.svg" data-src="assets/img/cross_black.svg" alt="Закрыть")
            nav.nav.flex.flex-col.mb-mob-40(class="sm:mb-fs-60")
                span.block.py-mob-15.text-mob-14(class="sm:text-fs-14 sm:py-fs-15 sm:border-b-fs-1 border-b-mob-1 border-b-black") Навигация
                ul
                    li
                        a(href="/") Тюнинг
                    li
                        a(href="/") ТО
                    li
                        a(href="/") Тиковое покрытие
                    li
                        a(href="/") Каталог 
                    li
                        a(href="/") Продажа 
                    li
                        a(href="/") О компании
                    li
                        a(href="/") Контакты
            .contacts.flex.flex-col
                span.block.py-mob-15.text-mob-14(class="sm:text-fs-14 sm:py-fs-15 sm:border-b-fs-1 border-b-mob-1 border-b-black") Контакты
                div.flex.flex-col.items-center.gap-y-mob-30.mt-mob-15(class="sm:mt-fs-15 sm:flex-row sm:gap-y-0")
                    div.flex.flex-col.items-center.gap-x-fs-14(class="sm:flex-row sm:mr-fs-55")
                        a.text-mob-12.font-bold.mb-mob-15(href="tel:HREF_PHONE_NUMBER" class="sm:text-fs-18 sm:mb-0") +7 (499) 000-00-00
                        div.flex.flex-row.items-center.gap-x-mob-14(class="sm:gap-x-fs-14")
                            a(href="HREF_WHATSAPP")
                                img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-20 sm:h-fs-20" src="/assets/img/wa_black.svg" data-src="/assets/img/wa_black.svg" alt="WhatsApp")
                            a(href="HREF_TELEGRAM")
                                img.lozad.w-mob-20.h-mob-16(class="sm:w-fs-20 sm:h-fs-16" src="/assets/img/tg_black.svg" data-src="/assets/img/tg_black.svg" alt="Telegram")
                p.text-mob-12.leading-160.uppercase.font-bold.mt-mob-30(class="sm:text-fs-16 sm:mt-fs-30") Долгопрудный, <br> улица Уличных улиц, дом 15
                a.inline-block.button.show-popup.w-fit.--small.mt-mob-30.mb-mob-60(class="sm:mt-fs-30 sm:mb-fs-60" href="#popup") Готовы пообщаться?
footer.footer.mt-mob-36(class="sm:mt-fs-80")
    .footer__top.flex.flex-col.items-center.border-t.border-rs-gray.font-bold.py-mob-40.px-mob-20(class="sm:flex-row sm:px-fs-40 sm:py-0")
        nav.nav
            ul.flex.flex-col.justify-center.gap-x-fs-66(class="sm:flex-row sm:justify-start")
                li 
                    a(href="#") Тюнинг
                li 
                    a(href="#") ТО
                li 
                    a(href="#") Тиковое покрытие
                li 
                    a(href="#") Каталог 
                li.--current
                    a(href="#") Продажа 
                li 
                    a(href="#") О компании
                li 
                    a(href="#") Контакты
        button.hidden.items-center.justify-center.border-l.border-r.border-rs-gray.w-fs-66.h-fs-66.transition-colors.ml-auto(class="hover:bg-rs-accent-active sm:flex")
            img(src="/assets/img/burger.svg" data-src="/assets/img/burger.svg" alt="Меню").w-fs-20.h-fs-15
    .footer__middle.py-mob-40.border-t.border-t-rs-gray(class="sm:py-fs-30")
        .footer__middle-inner.px-mob-20(class="sm:px-fs-40")
            div.flex.flex-col.items-center.gap-y-mob-30.text-center(class="sm:text-left sm:flex-row sm:gap-y-0 sm:justify-between")
                div.flex.flex-col.items-center.gap-y-mob-30.text-center(class="sm:text-left sm:flex-row sm:gap-y-0")
                    div.flex.flex-col.items-center.gap-y-mob-20(class="sm:flex-row sm:gap-x-fs-20 sm:gap-y-0 sm:mr-fs-70")
                        img.lozad.w-mob-24.h-mob-24(class="sm:w-fs-24 sm:h-fs-24" src="/assets/img/pin.svg" data-src="/assets/img/pin.svg" alt="Указатель")
                        p.text-mob-11.leading-160(class="sm:text-fs-13") Долгопрудный, <br> улица Уличных улиц, дом 15
                    p.text-mob-12.leading-160(class="sm:text-fs-13") Время работы: <br> ПН-ВС 09:00-19:00
                div.flex.flex-col.items-center.gap-y-mob-30.text-center(class="sm:text-left sm:flex-row sm:gap-y-0")
                    div.flex.flex-col.items-center.gap-x-fs-14(class="sm:flex-row sm:mr-fs-55")
                        div.flex.flex-col.items-center.gap-y-mob-20.mb-mob-14(class="sm:flex-row sm:ml-fs-55 sm:gap-x-fs-20 sm:mb-0")
                            img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-20 sm:h-fs-20" src="/assets/img/phone.svg" data-src="/assets/img/phone.svg" alt="Телефон")
                            a.text-mob-14(href="tel:HREF_PHONE_NUMBER" class="sm:text-fs-18") +7 (499) 000-00-00
                        div.flex.flex-row.items-center.gap-x-mob-14(class="sm:gap-x-fs-14")
                            a(href="HREF_WHATSAPP")
                                img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-20 sm:h-fs-20" src="/assets/img/wa.svg" data-src="/assets/img/wa.svg" alt="WhatsApp")
                            a(href="HREF_TELEGRAM")
                                img.lozad.w-mob-20.h-mob-16(class="sm:w-fs-20 sm:h-fs-16" src="/assets/img/tg.svg" data-src="/assets/img/tg.svg" alt="Telegram")
                    a(href="#popup").show-popup.button.--small.text-center.inline-block перезвоните мне
    .footer__bottom.py-mob-30.border-t.border-t-rs-gray(class="sm:py-fs-30")
        .footer__bottom-inner.px-mob-20.flex.flex-col.gap-y-mob-30(class="sm:px-fs-40 sm:gap-y-0 sm:justify-between")
            div.text-rs-gray.text-mob-12.leading-140.text-center(class="sm:text-fs-14 sm:text-left")
                p(class="sm:inline") ИНН: 123456677 
                p(class="sm:inline") ОГРН: 12345677675 
                p(class="sm:inline") КПП: 112344555 
            div.text-mob-12.leading-140.text-center(class="sm:text-fs-14 sm:text-right")
                span.block(class="sm:inline") Сайт разработали:
                span 
                    a.underline(href="LINK_DEV_1") СonvertMonster
                    span  и 
                    a.underline(href="LINK_DEV_2") VanGogh
        img(class="w-[95vw] sm:w-full sm:px-fs-40 sm:mb-fs-60 sm:mt-fs-70 mt-mob-40 mb-mob-36 mx-auto" src="/assets/img/riverstories.svg" data-src="/assets/img/riverstories.svg" alt="RiverStories")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="assets/js/jquery.mask.min.js")
    script(src="assets/js/libs.min.js")  
    script(src="assets/js/main.js")

</body>
</html>