.info__partners.grid.grid-cols-2.border-t-black.border-t-mob-1.bg-white(class="sm:grid-cols-6 sm:border-t-fs-1")
    div.grid.place-items-center
        img.lozad.px-mob-25.py-mob-30(class="sm:p-fs-58" src="/assets/img/partners/partner_logo.webp" data-src="/assets/img/partners/partner_logo.webp" alt="#")
    div.grid.place-items-center
        img.lozad.px-mob-25.py-mob-30(class="sm:p-fs-58" src="/assets/img/partners/partner_logo.webp" data-src="/assets/img/partners/partner_logo.webp" alt="#")
    div.grid.place-items-center.hidden(class="sm:block")
        img.lozad.px-mob-25.py-mob-30(class="sm:p-fs-58" src="/assets/img/partners/partner_logo.webp" data-src="/assets/img/partners/partner_logo.webp" alt="#")
    div.grid.place-items-center.hidden(class="sm:block")
        img.lozad.px-mob-25.py-mob-30(class="sm:p-fs-58" src="/assets/img/partners/partner_logo.webp" data-src="/assets/img/partners/partner_logo.webp" alt="#")
    div.grid.place-items-center.hidden(class="sm:block")
        img.lozad.px-mob-25.py-mob-30(class="sm:p-fs-58" src="/assets/img/partners/partner_logo.webp" data-src="/assets/img/partners/partner_logo.webp" alt="#")
    div.grid.place-items-center.hidden(class="sm:block")
        img.lozad.px-mob-25.py-mob-30(class="sm:p-fs-58" src="/assets/img/partners/partner_logo.webp" data-src="/assets/img/partners/partner_logo.webp" alt="#")