section.section.info.bg-white.text-black
    .info__main.grid.grid-cols-1(class="sm:grid-cols-[2fr_3fr_3fr]")
        .pt-mob-40.px-mob-20(class="sm:pt-fs-80 sm:px-0 sm:pl-fs-40")
            p.leading-140.text-mob-12(class="sm:leading-160 sm:text-fs-16") Компания <br class="hidden sm:inline"> 
                span.uppercase Riversroties
        .pt-mob-20.px-mob-20.pb-mob-36.border-b-black.border-b-mob-1(class="sm:px-0 sm:border-r-black sm:border-r-fs-1 sm:pt-fs-80 sm:border-b-0 sm:pr-fs-60 sm:pb-fs-80")
            h2.leading-140.text-mob-18.font-bold.uppercase(class="sm:text-fs-30 sm:pr-fs-80") Команда riverstories занимается приобретением, продажей, обслуживанием <br class="hidden sm:inline"> и тюнингом лодок <br class="hidden sm:inline"> и катеров. 
            .grid.grid-cols-2.gap-x-mob-20.gap-y-mob-30.mt-mob-30(class="sm:mt-fs-106 sm:grid-cols-3 sm:gap-y-0 sm:gap-x-fs-40")
                div 
                    span.block.font-bold.mb-mob-15.text-mob-36(class="sm:mb-fs-15 sm:text-fs-30") 10+
                    span.block.uppercase.font-bold.text-mob-11.leading-140(class="sm:text-fs-13") особый подход <br> к сотрудничеству <br> более 10 лет
                div 
                    span.block.font-bold.mb-mob-15.text-mob-36(class="sm:mb-fs-15 sm:text-fs-30") 107+
                    span.block.uppercase.font-bold.text-mob-11.leading-140(class="sm:text-fs-13") довольных <br> клиентов
                div 
                    span.block.font-bold.mb-mob-15.text-mob-36(class="sm:mb-fs-15 sm:text-fs-30") 12
                    span.block.uppercase.font-bold.text-mob-11.leading-140(class="sm:text-fs-13") Специалистов <br> В штате
        .pt-mob-40.px-mob-20.pb-mob-30(class="sm:pt-fs-80 sm:px-0 sm:pl-fs-80 sm:pr-fs-285 sm:pb-fs-80")
            div.mb-mob-20(class="sm:mb-fs-20")
                span.inline-block.w-mob-9.h-mob-10.triangle(class="sm:h-fs-12 sm:w-fs-12")
                span.inline-block.w-mob-9.h-mob-10.triangle(class="sm:h-fs-12 sm:w-fs-12")
            div.mb-mob-46(class="sm:mb-fs-110")
                p.font-bold.uppercase.mb-mob-16.leading-140.text-mob-14(class="sm:text-fs-18 sm:mb-fs-40") С вами работает опытная и талантливая команда профессионалов разных сфер. 
                p.leading-140.text-mob-12(class="sm:text-fs-14") Это значит, что вы можете полностью доверить нам задачи по подбору и обслуживанию катеров. Мы готовы предложить индивидуальные, смелые и функциональные решения для каждого клиента. 
            a.uppercase.flex.flex-row.items-center.group.show-popup(href="#popup" class="sm:pb-fs-20")
                .arrow.mr-mob-25.w-mob-50.h-mob-50.shrink-0(class="sm:mr-fs-25 sm:w-fs-50 sm:h-fs-50 group-hover:bg-rs-accent-active")
                span.inline-lbock.leading-140.text-mob-13.font-bold(class="sm:text-fs-13") Пообщаться со специалистом
    include partners_slides.pug