section.section.reviews.pt-mob-40.overflow-hidden.pb-mob-40(class="sm:pt-fs-100 sm:pb-fs-80")
    .grid.grid-cols-1(class="sm:grid-cols-4")
        .flex.flex-row.mb-mob-36.justify-center(class="sm:mb-fs-40 sm:items-center sm:justify-between sm:col-start-2 sm:col-end-4")
            h2.leading-140.uppercase.font-bold.text-mob-26.px-mob-20.text-center(class="sm:text-fs-40 sm:px-0 sm:text-left") ОТЗЫВЫ КЛИЕНТОВ
            .slider__arrows.hidden(class="sm:block")
                .reviews-prev.arrow.--prev
                .reviews-next.arrow
    .slider__items.reviews__items.inner
        .slider__item.reviews__item.p-mob-20(class="sm:p-fs-30 bg-[#1D1D1D]")
            .slide-inner.w-mob-280(class="sm:w-fs-385")
                .reviews__item-head.pb-mob-16.border-b-rs-gray.border-b-mob-1.mb-mob-20.flex.flex-row.items-center(class="sm:border-b-fs-1 sm:pb-fs-30 sm:mb-fs-30")
                    .reviews__item-user.inline-block.p-mob-5.mr-mob-12(class="sm:p-fs-10 sm:mr-fs-24 bg-[#E1E1E1]")
                        img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-30 sm:h-fs-30" src="/assets/img/user.svg" data-src="/assets/img/user.svg" alt="")
                    span.reviews__item-userinfo.uppercase.font-bold.text-mob-10(class="sm:text-fs-13") МИХАИЛ, г. Москва
                .reviews__item-body
                    div.cases__item-main.text-mob-12(class="sm:text-fs-16")
                        //- Здесь может быть простой wysiwyg 
                        p Это значит, что вы можете полностью доверить нам задачи по подбору и обслуживанию катеров. Мы готовы предложить индивидуальные, смелые и функциональные решения для каждого клиента. 
                        p Это значит, что вы можете полностью доверить нам задачи по подбору и обслуживанию катеров. Мы готовы предложить индивидуальные, смелые и функциональные решения для каждого клиента. 
        .slider__item.reviews__item.p-mob-20(class="sm:p-fs-30 bg-[#1D1D1D]")
            .slide-inner.w-mob-280(class="sm:w-fs-385")
                .reviews__item-head.pb-mob-16.border-b-rs-gray.border-b-mob-1.mb-mob-20.flex.flex-row.items-center(class="sm:border-b-fs-1 sm:pb-fs-30 sm:mb-fs-30")
                    .reviews__item-user.inline-block.p-mob-5.mr-mob-12(class="sm:p-fs-10 sm:mr-fs-24 bg-[#E1E1E1]")
                        img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-30 sm:h-fs-30" src="/assets/img/user.svg" data-src="/assets/img/user.svg" alt="")
                    span.reviews__item-userinfo.uppercase.font-bold.text-mob-10(class="sm:text-fs-13") МИХАИЛ, г. Москва
                .reviews__item-body
                    div.cases__item-main.text-mob-12(class="sm:text-fs-16")
                        //- Здесь может быть простой wysiwyg 
                        p Это значит, что вы можете полностью доверить нам задачи по подбору и обслуживанию катеров. Мы готовы предложить индивидуальные, смелые и функциональные решения для каждого клиента. 
                        p Это значит, что вы можете полностью доверить нам задачи по подбору и обслуживанию катеров. Мы готовы предложить индивидуальные, смелые и функциональные решения для каждого клиента. 
        .slider__item.reviews__item.p-mob-20(class="sm:p-fs-30 bg-[#1D1D1D]")
            .slide-inner.w-mob-280(class="sm:w-fs-385")
                .reviews__item-head.pb-mob-16.border-b-rs-gray.border-b-mob-1.mb-mob-20.flex.flex-row.items-center(class="sm:border-b-fs-1 sm:pb-fs-30 sm:mb-fs-30")
                    .reviews__item-user.inline-block.p-mob-5.mr-mob-12(class="sm:p-fs-10 sm:mr-fs-24 bg-[#E1E1E1]")
                        img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-30 sm:h-fs-30" src="/assets/img/user.svg" data-src="/assets/img/user.svg" alt="")
                    span.reviews__item-userinfo.uppercase.font-bold.text-mob-10(class="sm:text-fs-13") МИХАИЛ, г. Москва
                .reviews__item-body
                    div.cases__item-main.text-mob-12(class="sm:text-fs-16")
                        //- Здесь может быть простой wysiwyg 
                        p Это значит, что вы можете полностью доверить нам задачи по подбору и обслуживанию катеров. Мы готовы предложить индивидуальные, смелые и функциональные решения для каждого клиента. 
                        p Это значит, что вы можете полностью доверить нам задачи по подбору и обслуживанию катеров. Мы готовы предложить индивидуальные, смелые и функциональные решения для каждого клиента. 
        .slider__item.reviews__item.p-mob-20(class="sm:p-fs-30 bg-[#1D1D1D]")
            .slide-inner.w-mob-280(class="sm:w-fs-385")
                .reviews__item-head.pb-mob-16.border-b-rs-gray.border-b-mob-1.mb-mob-20.flex.flex-row.items-center(class="sm:border-b-fs-1 sm:pb-fs-30 sm:mb-fs-30")
                    .reviews__item-user.inline-block.p-mob-5.mr-mob-12(class="sm:p-fs-10 sm:mr-fs-24 bg-[#E1E1E1]")
                        img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-30 sm:h-fs-30" src="/assets/img/user.svg" data-src="/assets/img/user.svg" alt="")
                    span.reviews__item-userinfo.uppercase.font-bold.text-mob-10(class="sm:text-fs-13") МИХАИЛ, г. Москва
                .reviews__item-body
                    div.cases__item-main.text-mob-12(class="sm:text-fs-16")
                        //- Здесь может быть простой wysiwyg 
                        p Это значит, что вы можете полностью доверить нам задачи по подбору и обслуживанию катеров. Мы готовы предложить индивидуальные, смелые и функциональные решения для каждого клиента. 
                        p Это значит, что вы можете полностью доверить нам задачи по подбору и обслуживанию катеров. Мы готовы предложить индивидуальные, смелые и функциональные решения для каждого клиента. 
        .slider__item.reviews__item.p-mob-20(class="sm:p-fs-30 bg-[#1D1D1D]")
            .slide-inner.w-mob-280(class="sm:w-fs-385")
                .reviews__item-head.pb-mob-16.border-b-rs-gray.border-b-mob-1.mb-mob-20.flex.flex-row.items-center(class="sm:border-b-fs-1 sm:pb-fs-30 sm:mb-fs-30")
                    .reviews__item-user.inline-block.p-mob-5.mr-mob-12(class="sm:p-fs-10 sm:mr-fs-24 bg-[#E1E1E1]")
                        img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-30 sm:h-fs-30" src="/assets/img/user.svg" data-src="/assets/img/user.svg" alt="")
                    span.reviews__item-userinfo.uppercase.font-bold.text-mob-10(class="sm:text-fs-13") МИХАИЛ, г. Москва
                .reviews__item-body
                    div.cases__item-main.text-mob-12(class="sm:text-fs-16")
                        //- Здесь может быть простой wysiwyg 
                        p Это значит, что вы можете полностью доверить нам задачи по подбору и обслуживанию катеров. Мы готовы предложить индивидуальные, смелые и функциональные решения для каждого клиента. 
                        p Это значит, что вы можете полностью доверить нам задачи по подбору и обслуживанию катеров. Мы готовы предложить индивидуальные, смелые и функциональные решения для каждого клиента. 