section.section.services.pb-mob-30(class="sm:pb-0")
    h2.hidden Услуги
    .services__items.grid.grid-cols-1.gap-y-mob-10(class="sm:gap-y-fs-1")
        a.block.services__item.mx-auto.w-mob-320(class="group sm:w-full sm:grid sm:grid-cols-4" href="HREF_SERVICES" title="HREF_SERVICES_TITLE")
            .services__item-image.relative(class="sm:order-2 sm:col-start-2 sm:col-end-5")
                img.lozad.w-mob-320.h-mob-120(class="sm:w-fs-1442 sm:h-fs-540" src="/assets/img/service_1.webp" data-src="/assets/img/service_1.webp" alt="#")
                div.absolute.w-full.h-full.top-0(class="bg-gradient-to-t from-black/30 from-0% to-black/0 to-30%")
            .services__item-content.bg-white.text-black.py-mob-20(class="sm:order-1 col-span-1 sm:py-fs-60")
                .inner(class="sm:h-full sm:flex sm:flex-col")
                    h3.uppercase.font-bold.text-mob-18.leading-140.mb-mob-20(class="sm:mb-fs-40 sm:text-fs-30") Сервисное обслуживание
                    div.services__item-text.wysiwyg.mb-mob-30(class="sm:mb-0")
                        //-  сюда можно вставить простой wysiwyg
                        ul
                            li Тюнинг
                            li ТО
                            li Тиковое покрытие
                    .inline-block.arrow(class="mt-auto")
        a.block.services__item.mx-auto.w-mob-320(class="group sm:w-full sm:grid sm:grid-cols-4" href="HREF_SERVICES" title="HREF_SERVICES_TITLE")
            .services__item-image.relative(class="sm:order-2 sm:col-start-2 sm:col-end-5")
                img.lozad.w-mob-320.h-mob-120(class="sm:w-fs-1442 sm:h-fs-540" src="/assets/img/service_2.webp" data-src="/assets/img/service_2.webp" alt="#")
                div.absolute.w-full.h-full.top-0(class="bg-gradient-to-t from-black/30 from-0% to-black/0 to-30%")
            .services__item-content.bg-white.text-black.py-mob-20(class="sm:order-1 col-span-1 sm:py-fs-60")
                .inner(class="sm:h-full sm:flex sm:flex-col")
                    h3.uppercase.font-bold.text-mob-18.leading-140.mb-mob-20(class="sm:mb-fs-40 sm:text-fs-30") ПОКУПКА
                    div.services__item-text.wysiwyg.mb-mob-30(class="sm:mb-0")
                        //-  сюда можно вставить простой wysiwyg
                        p 112 лодок и катеров в наличии
                        p 17 мировых производителей от официального дилера без переплат
                        p Новые модели и б/у 
                    .inline-block.arrow(class="mt-auto")
        a.block.services__item.mx-auto.w-mob-320(class="group sm:w-full sm:grid sm:grid-cols-4" href="HREF_SERVICES" title="HREF_SERVICES_TITLE")
            .services__item-image.relative(class="sm:order-2 sm:col-start-2 sm:col-end-5")
                img.lozad.w-mob-320.h-mob-120(class="sm:w-fs-1442 sm:h-fs-540" src="/assets/img/service_3.webp" data-src="/assets/img/service_3.webp" alt="#")
                div.absolute.w-full.h-full.top-0(class="bg-gradient-to-t from-black/30 from-0% to-black/0 to-30%")
            .services__item-content.bg-white.text-black.py-mob-20(class="sm:order-1 col-span-1 sm:py-fs-60")
                .inner(class="sm:h-full sm:flex sm:flex-col")
                    h3.uppercase.font-bold.text-mob-18.leading-140.mb-mob-20(class="sm:mb-fs-40 sm:text-fs-30") ПРОДАЖА
                    div.services__item-text.wysiwyg.mb-mob-30(class="sm:mb-0")
                        //-  сюда можно вставить простой wysiwyg
                        p профессионально поможем в продаже вашего катера, выкупим в случае срочной сделки
                    .inline-block.arrow(class="mt-auto")