section.section.partners.pt-mob-40(class="sm:pt-fs-100")
    h2.inner.text-mob-18.uppercase.leading-140.mb-mob-34.font-bold(class="sm:text-fs-30 sm:mb-fs-60") Наши партнёры
    include partners_slides.pug