include components/header.pug
include components/breadcrumbs.pug
main.main
    section.text-black.overflow-hidden.relative(class="max-sm:bg-white sm:inner")
        .article-image-wrapper
            div.article-image(style="background-image:url('/assets/img/bg_article.webp')")
        .article
            div.wysiwyg(class="sm:article-container")
                h1 Возможность покупки техники «Север» в лизинг – это шаг для всего рынка
                h2 Заголовок h2
                h3 Заголовок h3
                p Остаются вопросы к организациям, разрешающим такую опасную, с их точки зрения, технику приобретать. Партнером красноярских аэролодок и вездеходов по лизинг-программе стал крупный игрок на этом рынке, который уже имеет 70 филиалов в самых экономически развитых городах России. Сегодня это значит, что покупатель не ограничен в географии выбора (напомним, что техника доставляется по всей стране и даже за ее пределы) и имеет для выбора целый ряд программ и пакетных предложений при оформлении.
                ul 
                    li Пункт 1
                    li Пункт 2
                    li Пункт 3
                img(src="/assets/img/article_image.webp", alt="#")
                h3 Заголовок h3
                div.table-wrapper
                    table 
                        thead 
                            tr
                                td Название колонки
                                td Марка лодки
                                td Название колонки
                        tbody 
                            tr 
                                td Название колонки
                                td Текст колонки
                                td Текст колонки
                            tr 
                                td Название колонки
                                td Текст колонки
                                td Текст колонки
                            tr 
                                td Название колонки
                                td Текст колонки
                                td Текст колонки
                h3 Заголовок h3
                p Остаются вопросы к организациям, разрешающим такую опасную, с их точки зрения, технику приобретать. Партнером красноярских аэролодок и вездеходов по лизинг-программе стал крупный игрок на этом рынке, который уже имеет 70 филиалов в самых экономически развитых городах России. Сегодня это значит, что покупатель не ограничен в географии выбора (напомним, что техника доставляется по всей стране и даже за ее пределы) и имеет для выбора целый ряд программ и пакетных предложений при оформлении.
                ol
                    li Остаются вопросы к организациям, разрешающим такую опасную, с их точки зрения
                    li За годы существования компании ни один покупатель не пострадал из-за халатности 
                    li За годы существования компании ни один покупатель не пострадал из-за халатности 
include components/footer.pug
