include components/header.pug
main.main
    section.section.front.font-bold.uppercase.mb-mob-30(class="sm:mb-0")
        .front__top.text-center(class="sm:text-left")
            .lozad.pt-mob-220.pb-mob-40(class="sm:pt-fs-90 sm:pb-fs-147")
                .inner
                    h1.text-mob-30.leading-110.mb-mob-20(class="sm:text-fs-80 sm:mb-fs-30") Лодки /<br> Катера
                    h2.text-mob-11.mb-mob-30(class="sm:text-fs-16 sm:mb-fs-70 leading-200") Покупка, продажа и <br class="inline sm:hidden"> профессиональное <br class="sm:inline hidden">  обслуживание 
                    a.block.button(href="/catalog" class="sm:w-fit") Перейти в каталог
        .front__bottom.border-t.border-t-rs-gray(class="sm:border-b-rs-gray sm:border-b")
            .inner.grid.grid-cols-1(class="sm:grid-cols-4")
                div.py-mob-30.text-center(class="px-mob-20 sm:text-left sm:pt-fs-36 sm:pb-fs-38 sm:pl-0 sm:pr-fs-30 sm:grid sm:place-items-center")
                    p.text-mob-16(class="sm:text-fs-22 leading-140") Полный спектр услуг “под ключ”:
                div.triangle.border.border-rs-gray.border-b-0.py-mob-30(class="px-mob-20 sm:pt-fs-36 sm:pb-fs-38 sm:pl-fs-30 sm:pr-fs-147 sm:border-r-0 sm:grid sm:place-items-center")
                    p.text-mob-11(class="sm:text-fs-13 leading-140") Продажа, обслуживание, ремонт, сезонное хранение, консервация
                div.triangle.border.border-rs-gray.border-b-0.py-mob-30(class="px-mob-20 sm:pt-fs-36 sm:pb-fs-38 sm:pl-fs-30 sm:pr-fs-147 sm:border-r-0 sm:grid sm:place-items-center")
                    p.text-mob-11(class="sm:text-fs-13 leading-140") Установка дополнительного оборудования
                div.triangle.border.border-rs-gray.py-mob-30(class="px-mob-20 sm:pt-fs-36 sm:pb-fs-38 sm:pl-fs-30 sm:pr-fs-147 sm:border-b-0 sm:border-r-0 sm:grid sm:place-items-center")
                    p.text-mob-11(class="sm:text-fs-13 leading-140") Тюнинг <br class="hidden sm:inline"> по индивидуальным проектам
    include components/section_services.pug
    section.section.about
        .about__items.grid.grid-cols-1.text-center(class="sm:grid-cols-4 bg-[#1D1D1D] sm:text-left")
            .about__item.pt-mob-40.pb-mob-36.px-mob-30(class="sm:py-fs-80 sm:px-fs-40")
                h2.uppercase.text-mob-18.leading-140.font-bold.mb-fs-70(class="sm:text-fs-30") Центр продаж <br> и обслуживания лодок и катеров
                a.uppercase.underline.mark.w-fit.text-fs-13(href="#callback" class="hidden sm:inline-block") пообщаться со специалистом 
            .about__item.py-mob-30.px-mob-30(class="sm:py-fs-80 sm:pr-fs-40 sm:pl-fs-30")
                div.mb-mob-20.leading-none(class="sm:mb-fs-50")
                    span.inline-block.w-mob-10.h-mob-10.triangle(class="sm:h-fs-12 sm:w-fs-12")
                p.text-mob-14.leading-140.uppercase.font-bold.mb-mob-16(class="sm:mb-fs-30 sm:text-fs-18") Делаем все с вашим минимальным участием
                p.text-mob-12.leading-140(class="sm:text-fs-16 sm:leading-160") Все услуги по катерам и лодкам в одном месте для вашего удобства
            .about__item.py-mob-30.px-mob-30(class="sm:py-fs-80 sm:pr-fs-40 sm:pl-fs-30")
                div.mb-mob-20.leading-none(class="sm:mb-fs-50")
                    span.inline-block.w-mob-10.h-mob-10.triangle(class="sm:h-fs-12 sm:w-fs-12")
                    span.inline-block.w-mob-10.h-mob-10.triangle(class="sm:h-fs-12 sm:w-fs-12")
                p.text-mob-14.leading-140.uppercase.font-bold.mb-mob-16(class="sm:mb-fs-30 sm:text-fs-18") От идеи до полной реализации, с заботой о каждом клиенте
                p.text-mob-12.leading-140(class="sm:text-fs-16 sm:leading-160") Все услуги по катерам и лодкам в одном месте для вашего удобства
            .about__item.py-mob-30.px-mob-30(class="sm:py-fs-80 sm:pr-fs-80 sm:pl-fs-30")
                div.mb-mob-20.leading-none(class="sm:mb-fs-50")
                    span.inline-block.w-mob-9.h-mob-10.triangle(class="sm:h-fs-12 sm:w-fs-12")
                    span.inline-block.w-mob-9.h-mob-10.triangle(class="sm:h-fs-12 sm:w-fs-12")
                    span.inline-block.w-mob-9.h-mob-10.triangle(class="sm:h-fs-12 sm:w-fs-12")
                p.text-mob-14.leading-140.uppercase.font-bold.mb-mob-16(class="sm:mb-fs-30 sm:text-fs-18") Решение нестандартных и не типовых задач
                p.text-mob-12.leading-140(class="sm:text-fs-16 sm:leading-160") Поможем вам наслаждаться отдыхом и путешествиями на воде по самым выгодным условиям
    section.section.cases.pt-mob-40.overflow-hidden.mb-mob-50(class="sm:pt-fs-100 sm:mb-fs-80")
        .grid.grid-cols-1(class="sm:grid-cols-4")
            .flex.flex-row.mb-mob-36.justify-center(class="sm:mb-fs-40 sm:items-center sm:justify-between sm:col-start-2 sm:col-end-4")
                h2.leading-140.uppercase.font-bold.text-mob-26(class="sm:text-fs-40") Кейсы
                .slider__arrows.hidden(class="sm:block")
                    .cases-prev.arrow.--prev
                    .cases-next.arrow
        .slider__items.cases__items.text-black
            .slider__item.cases__item.p-mob-20.bg-white(class="sm:p-fs-30")
                .slide-inner.w-mob-280(class="sm:w-fs-905 sm:min-h-[22.917vw]")
                    .cases__item-head.pb-mob-16.border-b-black.border-b-mob-1.mb-mob-20.flex.flex-row.items-center(class="sm:border-b-fs-1 sm:pb-fs-30 sm:mb-fs-30")
                        .cases__item-user.inline-block.p-mob-5.mr-mob-12(class="sm:p-fs-10 sm:mr-fs-24 bg-[#E1E1E1]")
                            img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-30 sm:h-fs-30" src="/assets/img/user.svg" data-src="/assets/img/user.svg" alt="")
                        span.cases__item-userinfo.uppercase.font-bold.text-mob-10(class="sm:text-fs-13") МИХАИЛ, г. Москва
                    .cases__item-body
                        p.uppercase.font-bold.text-mob-11.mb-mob-14(class="sm:text-fs-13 sm:mb-fs-20") ЗАДАЧА:
                        p.uppercase.font-bold.text-mob-14.mb-mob-20(class="sm:text-fs-18 sm:mb-fs-40") забрать катер от клиента, подобрать оборудование для комфортного выхода в море на дальние расстояния. 
                        div.cases__item-main.text-mob-12(class="sm:text-fs-14")
                            //- Здесь может быть простой wysiwyg 
                            p Организовали забор катера от клиента. Заранее договорились об удобной дате и времени приезда. Своими силами погрузили и отвезли в мастерскую. Подобрали необходимое оборудование согласно поставленной задаче. В рекордно короткие сроки все установили. В назначенный день привезли яхту обратно. 
                            p Поставили только действительно необходимое оборудование, клиент не переплатил и уже наслаждается путешествием. 
            .slider__item.cases__item.p-mob-20.bg-white(class="sm:p-fs-30")
                .slide-inner.w-mob-280(class="sm:w-fs-905 sm:h-fs-440 sm:min-h-[22.917vw]")
                    .cases__item-head.pb-mob-16.border-b-black.border-b-mob-1.mb-mob-20.flex.flex-row.items-center(class="sm:border-b-fs-1 sm:pb-fs-30 sm:mb-fs-30")
                        .cases__item-user.inline-block.p-mob-5.mr-mob-12(class="sm:p-fs-10 sm:mr-fs-24 bg-[#E1E1E1]")
                            img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-30 sm:h-fs-30" src="/assets/img/user.svg" data-src="/assets/img/user.svg" alt="")
                        span.cases__item-userinfo.uppercase.font-bold.text-mob-10(class="sm:text-fs-13") МИХАИЛ, г. Москва
                    .cases__item-body
                        p.uppercase.font-bold.text-mob-11.mb-mob-14(class="sm:text-fs-13 sm:mb-fs-20") ЗАДАЧА:
                        p.uppercase.font-bold.text-mob-14.mb-mob-20(class="sm:text-fs-18 sm:mb-fs-40") забрать катер от клиента, подобрать оборудование для комфортного выхода в море на дальние расстояния. 
                        div.cases__item-main.text-mob-12(class="sm:text-fs-14")
                            //- Здесь может быть простой wysiwyg 
                            p Организовали забор катера от клиента. Заранее договорились об удобной дате и времени приезда. Своими силами погрузили и отвезли в мастерскую. Подобрали необходимое оборудование согласно поставленной задаче. В рекордно короткие сроки все установили. В назначенный день привезли яхту обратно. 
                            p Поставили только действительно необходимое оборудование, клиент не переплатил и уже наслаждается путешествием. 
            .slider__item.cases__item.p-mob-20.bg-white(class="sm:p-fs-30")
                .slide-inner.w-mob-280(class="sm:w-fs-905 sm:h-fs-440 sm:min-h-[22.917vw]")
                    .cases__item-head.pb-mob-16.border-b-black.border-b-mob-1.mb-mob-20.flex.flex-row.items-center(class="sm:border-b-fs-1 sm:pb-fs-30 sm:mb-fs-30")
                        .cases__item-user.inline-block.p-mob-5.mr-mob-12(class="sm:p-fs-10 sm:mr-fs-24 bg-[#E1E1E1]")
                            img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-30 sm:h-fs-30" src="/assets/img/user.svg" data-src="/assets/img/user.svg" alt="")
                        span.cases__item-userinfo.uppercase.font-bold.text-mob-10(class="sm:text-fs-13") МИХАИЛ, г. Москва
                    .cases__item-body
                        p.uppercase.font-bold.text-mob-11.mb-mob-14(class="sm:text-fs-13 sm:mb-fs-20") ЗАДАЧА:
                        p.uppercase.font-bold.text-mob-14.mb-mob-20(class="sm:text-fs-18 sm:mb-fs-40") забрать катер от клиента, подобрать оборудование для комфортного выхода в море на дальние расстояния. 
                        div.cases__item-main.text-mob-12(class="sm:text-fs-14")
                            //- Здесь может быть простой wysiwyg 
                            p Организовали забор катера от клиента. Заранее договорились об удобной дате и времени приезда. Своими силами погрузили и отвезли в мастерскую. Подобрали необходимое оборудование согласно поставленной задаче. В рекордно короткие сроки все установили. В назначенный день привезли яхту обратно. 
                            p Поставили только действительно необходимое оборудование, клиент не переплатил и уже наслаждается путешествием. 
            .slider__item.cases__item.p-mob-20.bg-white(class="sm:p-fs-30")
                .slide-inner.w-mob-280(class="sm:w-fs-905 sm:h-fs-440 sm:min-h-[22.917vw]")
                    .cases__item-head.pb-mob-16.border-b-black.border-b-mob-1.mb-mob-20.flex.flex-row.items-center(class="sm:border-b-fs-1 sm:pb-fs-30 sm:mb-fs-30")
                        .cases__item-user.inline-block.p-mob-5.mr-mob-12(class="sm:p-fs-10 sm:mr-fs-24 bg-[#E1E1E1]")
                            img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-30 sm:h-fs-30" src="/assets/img/user.svg" data-src="/assets/img/user.svg" alt="")
                        span.cases__item-userinfo.uppercase.font-bold.text-mob-10(class="sm:text-fs-13") МИХАИЛ, г. Москва
                    .cases__item-body
                        p.uppercase.font-bold.text-mob-11.mb-mob-14(class="sm:text-fs-13 sm:mb-fs-20") ЗАДАЧА:
                        p.uppercase.font-bold.text-mob-14.mb-mob-20(class="sm:text-fs-18 sm:mb-fs-40") забрать катер от клиента, подобрать оборудование для комфортного выхода в море на дальние расстояния. 
                        div.cases__item-main.text-mob-12(class="sm:text-fs-14")
                            //- Здесь может быть простой wysiwyg 
                            p Организовали забор катера от клиента. Заранее договорились об удобной дате и времени приезда. Своими силами погрузили и отвезли в мастерскую. Подобрали необходимое оборудование согласно поставленной задаче. В рекордно короткие сроки все установили. В назначенный день привезли яхту обратно. 
                            p Поставили только действительно необходимое оборудование, клиент не переплатил и уже наслаждается путешествием. 
            .slider__item.cases__item.p-mob-20.bg-white(class="sm:p-fs-30")
                .slide-inner.w-mob-280(class="sm:w-fs-905 sm:h-fs-440 sm:min-h-[22.917vw]")
                    .cases__item-head.pb-mob-16.border-b-black.border-b-mob-1.mb-mob-20.flex.flex-row.items-center(class="sm:border-b-fs-1 sm:pb-fs-30 sm:mb-fs-30")
                        .cases__item-user.inline-block.p-mob-5.mr-mob-12(class="sm:p-fs-10 sm:mr-fs-24 bg-[#E1E1E1]")
                            img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-30 sm:h-fs-30" src="/assets/img/user.svg" data-src="/assets/img/user.svg" alt="")
                        span.cases__item-userinfo.uppercase.font-bold.text-mob-10(class="sm:text-fs-13") МИХАИЛ, г. Москва
                    .cases__item-body
                        p.uppercase.font-bold.text-mob-11.mb-mob-14(class="sm:text-fs-13 sm:mb-fs-20") ЗАДАЧА:
                        p.uppercase.font-bold.text-mob-14.mb-mob-20(class="sm:text-fs-18 sm:mb-fs-40") забрать катер от клиента, подобрать оборудование для комфортного выхода в море на дальние расстояния. 
                        div.cases__item-main.text-mob-12(class="sm:text-fs-14")
                            //- Здесь может быть простой wysiwyg 
                            p Организовали забор катера от клиента. Заранее договорились об удобной дате и времени приезда. Своими силами погрузили и отвезли в мастерскую. Подобрали необходимое оборудование согласно поставленной задаче. В рекордно короткие сроки все установили. В назначенный день привезли яхту обратно. 
                            p Поставили только действительно необходимое оборудование, клиент не переплатил и уже наслаждается путешествием. 
    include components/section_cta.pug
    include components/section_info.pug
    include components/section_reviews.pug
    section.section.pt-mob-40(class="sm:pt-fs-20")
        div(class="sm:grid sm:grid-cols-[2fr_4fr_2fr]")
            h2.font-bold.text-mob-14.leading-140.px-mob-20(class="sm:px-0 sm:text-fs-30 sm:col-start-2") Полный спектр услуг по лодкам <br class="hidden sm:inline"> и катерам в одном месте "под ключ"
        .grid.grid-cols-1(class="sm:grid-cols-2")
            div.px-mob-20(class="sm:order-2 sm:ps-0")
                p.text-mob-12.leading-160(class="sm:text-fs-16 sm:leading-140 sm:max-w-[55.75%] sm:mt-fs-60") Ваши личные эксперты, которые помогут по абсолютно всем вопросам — покупка, обслуживание, тюнинг, ремонт, помощь в продаже. Доверьтесь профессионалам!
            div(class="sm:order-1")
                img.lozad(src="/assets/img/boat.webp" data-src="/assets/img/boat.webp" alt="Плывущий катер")
    section.section.contacts
        //- .inner
        .flex.flex-col.inner.pt-mob-40(class="sm:flex-row sm:justify-between sm:pt-fs-50 sm:border-t-fs-1 sm:border-t-rs-gray")
            h2.text-mob-18.font-bold.uppercase.text-center(class="sm:text-fs-30 sm:text-left") Контакты
            div.flex.flex-col.items-center.gap-y-mob-30.text-center.mt-mob-36(class="sm:text-left sm:flex-row sm:gap-y-0 sm:justify-between sm:mt-0")
                div.flex.flex-col.items-center.gap-y-mob-30.text-center(class="sm:text-left sm:flex-row sm:gap-y-0")
                    div.flex.flex-col.items-center.gap-y-mob-20(class="sm:flex-row sm:gap-x-fs-20 sm:gap-y-0 sm:mr-fs-70")
                        img.lozad.w-mob-24.h-mob-24(class="sm:w-fs-24 sm:h-fs-24" src="/assets/img/pin.svg" data-src="/assets/img/pin.svg" alt="Указатель")
                        p.text-mob-11.leading-160(class="sm:text-fs-13") Долгопрудный, <br> улица Уличных улиц, дом 15
                div.flex.flex-col.items-center.gap-y-mob-30.text-center(class="sm:text-left sm:flex-row sm:gap-y-0")
                    div.flex.flex-col.items-center.gap-x-fs-14(class="sm:flex-row sm:mr-fs-55")
                        div.flex.flex-col.items-center.gap-y-mob-20.mb-mob-14(class="sm:flex-row sm:ml-fs-55 sm:gap-x-fs-20 sm:mb-0")
                            img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-20 sm:h-fs-20" src="/assets/img/phone.svg" data-src="/assets/img/phone.svg" alt="Телефон")
                            a.text-mob-14(href="tel:HREF_PHONE_NUMBER" class="sm:text-fs-18") +7 (499) 000-00-00
                        div.flex.flex-row.items-center.gap-x-mob-14(class="sm:gap-x-fs-14")
                            a(href="HREF_WHATSAPP")
                                img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-20 sm:h-fs-20" src="/assets/img/wa.svg" data-src="/assets/img/wa.svg" alt="WhatsApp")
                            a(href="HREF_TELEGRAM")
                                img.lozad.w-mob-20.h-mob-16(class="sm:w-fs-20 sm:h-fs-16" src="/assets/img/tg.svg" data-src="/assets/img/tg.svg" alt="Telegram")
                    a(href="#callback").button.--small.text-center.inline-block перезвоните мне
        <div class="inner mt-mob-40 sm:mt-fs-50" style="position:relative;overflow:hidden;">
            <a href="https://yandex.com/maps/10131/chicago/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Чикаго</a>
            <a href="https://yandex.com/maps/10131/chicago/?ll=-87.621499%2C41.875177&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgoyMjQwNTc0MzIwEkFVbml0ZWQgU3RhdGVzIG9mIEFtZXJpY2EsIFN0YXRlIG9mIElsbGlub2lzLCBDb29rIENvdW50eSwgQ2hpY2FnbyIKDV4_r8IVv4AnQg%2C%2C&utm_medium=mapframe&utm_source=maps&z=15.29" style="color:#eee;font-size:12px;position:absolute;top:14px;">Чикаго — Яндекс Карты</a>
            <iframe class="lozad w-full h-[108.333vw] sm:h-fs-500" data-src="https://yandex.com/map-widget/v1/?ll=-87.621499%2C41.875177&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgoyMjQwNTc0MzIwEkFVbml0ZWQgU3RhdGVzIG9mIEFtZXJpY2EsIFN0YXRlIG9mIElsbGlub2lzLCBDb29rIENvdW50eSwgQ2hpY2FnbyIKDV4_r8IVv4AnQg%2C%2C&z=15.29" style="position:relative;"></iframe>
        </div>
include components/footer.pug