include components/header.pug
main.main
    section.section.front.font-bold.uppercase.mb-mob-30(class="sm:mb-0")
        .front__top.text-center(class="sm:text-left")
            .lozad.pt-mob-220.pb-mob-40(class="sm:pt-fs-90 sm:pb-fs-147")
                .inner
                    h1.text-mob-30.leading-110.mb-mob-20(class="sm:text-fs-80 sm:mb-fs-30") Лодки /<br> Катера
                    h2.text-mob-11.mb-mob-30(class="sm:text-fs-16 sm:mb-fs-70 leading-200") Покупка, продажа и <br class="inline sm:hidden"> профессиональное <br class="sm:inline hidden">  обслуживание 
                    a.block.button(href="/catalog" class="sm:w-fit") Перейти в каталог
        .front__bottom.border-t.border-t-rs-gray(class="sm:border-b-rs-gray sm:border-b")
            .inner.grid.grid-cols-1(class="sm:grid-cols-4")
                div.py-mob-30.text-center(class="px-mob-20 sm:text-left sm:pt-fs-36 sm:pb-fs-38 sm:pl-0 sm:pr-fs-30 sm:grid sm:place-items-center")
                    p.text-mob-16(class="sm:text-fs-22 leading-140") Полный спектр услуг “под ключ”:
                div.triangle.border.border-rs-gray.border-b-0.py-mob-30(class="px-mob-20 sm:pt-fs-36 sm:pb-fs-38 sm:pl-fs-30 sm:pr-fs-147 sm:border-r-0 sm:grid sm:place-items-center")
                    p.text-mob-11(class="sm:text-fs-13 leading-140") Продажа, обслуживание, ремонт, сезонное хранение, консервация
                div.triangle.border.border-rs-gray.border-b-0.py-mob-30(class="px-mob-20 sm:pt-fs-36 sm:pb-fs-38 sm:pl-fs-30 sm:pr-fs-147 sm:border-r-0 sm:grid sm:place-items-center")
                    p.text-mob-11(class="sm:text-fs-13 leading-140") Установка дополнительного оборудования
                div.triangle.border.border-rs-gray.py-mob-30(class="px-mob-20 sm:pt-fs-36 sm:pb-fs-38 sm:pl-fs-30 sm:pr-fs-147 sm:border-b-0 sm:border-r-0 sm:grid sm:place-items-center")
                    p.text-mob-11(class="sm:text-fs-13 leading-140") Тюнинг <br class="hidden sm:inline"> по индивидуальным проектам
    section.section.services.pb-mob-30(class="sm:pb-0")
        //- .container-vw
        h2.hidden Услуги
        .services__items.grid.grid-cols-1.gap-y-mob-10(class="sm:gap-y-fs-1")
            a.block.services__item.mx-auto.w-mob-320(class="group sm:w-full sm:grid sm:grid-cols-4" href="HREF_SERVICES" title="HREF_SERVICES_TITLE")
                .services__item-image.relative(class="sm:order-2 sm:col-start-2 sm:col-end-5")
                    img.lozad.w-mob-320.h-mob-120(class="sm:w-fs-1442 sm:h-fs-540" src="/assets/img/service_1.webp" data-src="/assets/img/service_1.webp" alt="#")
                    div.absolute.w-full.h-full.top-0(class="bg-gradient-to-t from-black/30 from-0% to-black/0 to-30%")
                .services__item-content.bg-white.text-black.py-mob-20(class="sm:order-1 col-span-1 sm:py-fs-60")
                    .inner(class="sm:h-full sm:flex sm:flex-col")
                        h3.uppercase.font-bold.text-mob-18.leading-140.mb-mob-20(class="sm:mb-fs-40 sm:text-fs-30") Сервисное обслуживание
                        div.services__item-text.wysiwyg.mb-mob-30(class="sm:mb-0")
                            //-  сюда можно вставить простой wysiwyg
                            ul
                                li Тюнинг
                                li ТО
                                li Тиковое покрытие
                        .inline-block.arrow(class="mt-auto")
            a.block.services__item.mx-auto.w-mob-320(class="group sm:w-full sm:grid sm:grid-cols-4" href="HREF_SERVICES" title="HREF_SERVICES_TITLE")
                .services__item-image.relative(class="sm:order-2 sm:col-start-2 sm:col-end-5")
                    img.lozad.w-mob-320.h-mob-120(class="sm:w-fs-1442 sm:h-fs-540" src="/assets/img/service_2.webp" data-src="/assets/img/service_2.webp" alt="#")
                    div.absolute.w-full.h-full.top-0(class="bg-gradient-to-t from-black/30 from-0% to-black/0 to-30%")
                .services__item-content.bg-white.text-black.py-mob-20(class="sm:order-1 col-span-1 sm:py-fs-60")
                    .inner(class="sm:h-full sm:flex sm:flex-col")
                        h3.uppercase.font-bold.text-mob-18.leading-140.mb-mob-20(class="sm:mb-fs-40 sm:text-fs-30") ПОКУПКА
                        div.services__item-text.wysiwyg.mb-mob-30(class="sm:mb-0")
                            //-  сюда можно вставить простой wysiwyg
                            p 112 лодок и катеров в наличии
                            p 17 мировых производителей от официального дилера без переплат
                            p Новые модели и б/у 
                        .inline-block.arrow(class="mt-auto")
            a.block.services__item.mx-auto.w-mob-320(class="group sm:w-full sm:grid sm:grid-cols-4" href="HREF_SERVICES" title="HREF_SERVICES_TITLE")
                .services__item-image.relative(class="sm:order-2 sm:col-start-2 sm:col-end-5")
                    img.lozad.w-mob-320.h-mob-120(class="sm:w-fs-1442 sm:h-fs-540" src="/assets/img/service_3.webp" data-src="/assets/img/service_3.webp" alt="#")
                    div.absolute.w-full.h-full.top-0(class="bg-gradient-to-t from-black/30 from-0% to-black/0 to-30%")
                .services__item-content.bg-white.text-black.py-mob-20(class="sm:order-1 col-span-1 sm:py-fs-60")
                    .inner(class="sm:h-full sm:flex sm:flex-col")
                        h3.uppercase.font-bold.text-mob-18.leading-140.mb-mob-20(class="sm:mb-fs-40 sm:text-fs-30") ПРОДАЖА
                        div.services__item-text.wysiwyg.mb-mob-30(class="sm:mb-0")
                            //-  сюда можно вставить простой wysiwyg
                            p профессионально поможем в продаже вашего катера, выкупим в случае срочной сделки
                        .inline-block.arrow(class="mt-auto")
    section.section.about
        .about__items.grid.grid-cols-1.text-center(class="sm:grid-cols-4 bg-[#1D1D1D] sm:text-left")
            .about__item.pt-mob-40.pb-mob-36.px-mob-30(class="sm:py-fs-80 sm:px-fs-40")
                h2.uppercase.text-mob-18.leading-140.font-bold.mb-fs-70(class="sm:text-fs-30") Центр продаж <br> и обслуживания лодок и катеров
                a.uppercase.underline.mark.w-fit.text-fs-13(href="#callback" class="hidden sm:inline-block") пообщаться со специалистом 
            .about__item.py-mob-30.px-mob-30(class="sm:py-fs-80 sm:pr-fs-40 sm:pl-fs-30")
                div.mb-mob-20.leading-none(class="sm:mb-fs-50")
                    span.inline-block.w-mob-10.h-mob-10.triangle(class="sm:h-fs-12 sm:w-fs-12")
                p.text-mob-14.leading-140.uppercase.font-bold.mb-mob-16(class="sm:mb-fs-30 sm:text-fs-18") Делаем все с вашим минимальным участием
                p.text-mob-12.leading-140(class="sm:text-fs-16 sm:leading-160") Все услуги по катерам и лодкам в одном месте для вашего удобства
            .about__item.py-mob-30.px-mob-30(class="sm:py-fs-80 sm:pr-fs-40 sm:pl-fs-30")
                div.mb-mob-20.leading-none(class="sm:mb-fs-50")
                    span.inline-block.w-mob-10.h-mob-10.triangle(class="sm:h-fs-12 sm:w-fs-12")
                    span.inline-block.w-mob-10.h-mob-10.triangle(class="sm:h-fs-12 sm:w-fs-12")
                p.text-mob-14.leading-140.uppercase.font-bold.mb-mob-16(class="sm:mb-fs-30 sm:text-fs-18") От идеи до полной реализации, с заботой о каждом клиенте
                p.text-mob-12.leading-140(class="sm:text-fs-16 sm:leading-160") Все услуги по катерам и лодкам в одном месте для вашего удобства
            .about__item.py-mob-30.px-mob-30(class="sm:py-fs-80 sm:pr-fs-80 sm:pl-fs-30")
                div.mb-mob-20.leading-none(class="sm:mb-fs-50")
                    span.inline-block.w-mob-9.h-mob-10.triangle(class="sm:h-fs-12 sm:w-fs-12")
                    span.inline-block.w-mob-9.h-mob-10.triangle(class="sm:h-fs-12 sm:w-fs-12")
                    span.inline-block.w-mob-9.h-mob-10.triangle(class="sm:h-fs-12 sm:w-fs-12")
                p.text-mob-14.leading-140.uppercase.font-bold.mb-mob-16(class="sm:mb-fs-30 sm:text-fs-18") Решение нестандартных и не типовых задач
                p.text-mob-12.leading-140(class="sm:text-fs-16 sm:leading-160") Поможем вам наслаждаться отдыхом и путешествиями на воде по самым выгодным условиям
    section.section.cases.pt-mob-40.overflow-hidden(class="sm:pt-fs-100")
        .grid.grid-cols-1(class="sm:grid-cols-4")
            .flex.flex-row.mb-mob-36.justify-center(class="sm:mb-fs-40 sm:items-center sm:justify-between sm:col-start-2 sm:col-end-4")
                h2.leading-140.uppercase.font-bold.text-mob-26(class="sm:text-fs-40") Кейсы
                .slider__arrows.hidden(class="sm:block")
                    .cases-prev.arrow.--prev
                    .cases-next.arrow
        .slider__items.cases__items.text-black
            .slider__item.cases__item.p-mob-20.bg-white(class="sm:p-fs-30")
                .slide-inner.w-mob-280(class="sm:w-fs-905 sm:min-h-[22.917vw]")
                    .cases__item-head.pb-mob-16.border-b-black.border-b-mob-1.mb-mob-20.flex.flex-row.items-center(class="sm:border-b-fs-1 sm:pb-fs-30 sm:mb-fs-30")
                        .cases__item-user.inline-block.p-mob-5.mr-mob-12(class="sm:p-fs-10 sm:mr-fs-24 bg-[#E1E1E1]")
                            img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-30 sm:h-fs-30" src="/assets/img/user.svg" data-src="/assets/img/user.svg" alt="")
                        span.cases__item-userinfo.uppercase.font-bold.text-mob-10(class="sm:text-fs-13") МИХАИЛ, г. Москва
                    .cases__item-body
                        p.uppercase.font-bold.text-mob-11.mb-mob-14(class="sm:text-fs-13 sm:mb-fs-20") ЗАДАЧА:
                        p.uppercase.font-bold.text-mob-14.mb-mob-20(class="sm:text-fs-18 sm:mb-fs-40") забрать катер от клиента, подобрать оборудование для комфортного выхода в море на дальние расстояния. 
                        div.cases__item-main.text-mob-12(class="sm:text-fs-14")
                            //- Здесь может быть простой wysiwyg 
                            p Организовали забор катера от клиента. Заранее договорились об удобной дате и времени приезда. Своими силами погрузили и отвезли в мастерскую. Подобрали необходимое оборудование согласно поставленной задаче. В рекордно короткие сроки все установили. В назначенный день привезли яхту обратно. 
                            p Поставили только действительно необходимое оборудование, клиент не переплатил и уже наслаждается путешествием. 
            .slider__item.cases__item.p-mob-20.bg-white(class="sm:p-fs-30")
                .slide-inner.w-mob-280(class="sm:w-fs-905 sm:h-fs-440 sm:min-h-[22.917vw]")
                    .cases__item-head.pb-mob-16.border-b-black.border-b-mob-1.mb-mob-20.flex.flex-row.items-center(class="sm:border-b-fs-1 sm:pb-fs-30 sm:mb-fs-30")
                        .cases__item-user.inline-block.p-mob-5.mr-mob-12(class="sm:p-fs-10 sm:mr-fs-24 bg-[#E1E1E1]")
                            img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-30 sm:h-fs-30" src="/assets/img/user.svg" data-src="/assets/img/user.svg" alt="")
                        span.cases__item-userinfo.uppercase.font-bold.text-mob-10(class="sm:text-fs-13") МИХАИЛ, г. Москва
                    .cases__item-body
                        p.uppercase.font-bold.text-mob-11.mb-mob-14(class="sm:text-fs-13 sm:mb-fs-20") ЗАДАЧА:
                        p.uppercase.font-bold.text-mob-14.mb-mob-20(class="sm:text-fs-18 sm:mb-fs-40") забрать катер от клиента, подобрать оборудование для комфортного выхода в море на дальние расстояния. 
                        div.cases__item-main.text-mob-12(class="sm:text-fs-14")
                            //- Здесь может быть простой wysiwyg 
                            p Организовали забор катера от клиента. Заранее договорились об удобной дате и времени приезда. Своими силами погрузили и отвезли в мастерскую. Подобрали необходимое оборудование согласно поставленной задаче. В рекордно короткие сроки все установили. В назначенный день привезли яхту обратно. 
                            p Поставили только действительно необходимое оборудование, клиент не переплатил и уже наслаждается путешествием. 
            .slider__item.cases__item.p-mob-20.bg-white(class="sm:p-fs-30")
                .slide-inner.w-mob-280(class="sm:w-fs-905 sm:h-fs-440 sm:min-h-[22.917vw]")
                    .cases__item-head.pb-mob-16.border-b-black.border-b-mob-1.mb-mob-20.flex.flex-row.items-center(class="sm:border-b-fs-1 sm:pb-fs-30 sm:mb-fs-30")
                        .cases__item-user.inline-block.p-mob-5.mr-mob-12(class="sm:p-fs-10 sm:mr-fs-24 bg-[#E1E1E1]")
                            img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-30 sm:h-fs-30" src="/assets/img/user.svg" data-src="/assets/img/user.svg" alt="")
                        span.cases__item-userinfo.uppercase.font-bold.text-mob-10(class="sm:text-fs-13") МИХАИЛ, г. Москва
                    .cases__item-body
                        p.uppercase.font-bold.text-mob-11.mb-mob-14(class="sm:text-fs-13 sm:mb-fs-20") ЗАДАЧА:
                        p.uppercase.font-bold.text-mob-14.mb-mob-20(class="sm:text-fs-18 sm:mb-fs-40") забрать катер от клиента, подобрать оборудование для комфортного выхода в море на дальние расстояния. 
                        div.cases__item-main.text-mob-12(class="sm:text-fs-14")
                            //- Здесь может быть простой wysiwyg 
                            p Организовали забор катера от клиента. Заранее договорились об удобной дате и времени приезда. Своими силами погрузили и отвезли в мастерскую. Подобрали необходимое оборудование согласно поставленной задаче. В рекордно короткие сроки все установили. В назначенный день привезли яхту обратно. 
                            p Поставили только действительно необходимое оборудование, клиент не переплатил и уже наслаждается путешествием. 
            .slider__item.cases__item.p-mob-20.bg-white(class="sm:p-fs-30")
                .slide-inner.w-mob-280(class="sm:w-fs-905 sm:h-fs-440 sm:min-h-[22.917vw]")
                    .cases__item-head.pb-mob-16.border-b-black.border-b-mob-1.mb-mob-20.flex.flex-row.items-center(class="sm:border-b-fs-1 sm:pb-fs-30 sm:mb-fs-30")
                        .cases__item-user.inline-block.p-mob-5.mr-mob-12(class="sm:p-fs-10 sm:mr-fs-24 bg-[#E1E1E1]")
                            img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-30 sm:h-fs-30" src="/assets/img/user.svg" data-src="/assets/img/user.svg" alt="")
                        span.cases__item-userinfo.uppercase.font-bold.text-mob-10(class="sm:text-fs-13") МИХАИЛ, г. Москва
                    .cases__item-body
                        p.uppercase.font-bold.text-mob-11.mb-mob-14(class="sm:text-fs-13 sm:mb-fs-20") ЗАДАЧА:
                        p.uppercase.font-bold.text-mob-14.mb-mob-20(class="sm:text-fs-18 sm:mb-fs-40") забрать катер от клиента, подобрать оборудование для комфортного выхода в море на дальние расстояния. 
                        div.cases__item-main.text-mob-12(class="sm:text-fs-14")
                            //- Здесь может быть простой wysiwyg 
                            p Организовали забор катера от клиента. Заранее договорились об удобной дате и времени приезда. Своими силами погрузили и отвезли в мастерскую. Подобрали необходимое оборудование согласно поставленной задаче. В рекордно короткие сроки все установили. В назначенный день привезли яхту обратно. 
                            p Поставили только действительно необходимое оборудование, клиент не переплатил и уже наслаждается путешествием. 
            .slider__item.cases__item.p-mob-20.bg-white(class="sm:p-fs-30")
                .slide-inner.w-mob-280(class="sm:w-fs-905 sm:h-fs-440 sm:min-h-[22.917vw]")
                    .cases__item-head.pb-mob-16.border-b-black.border-b-mob-1.mb-mob-20.flex.flex-row.items-center(class="sm:border-b-fs-1 sm:pb-fs-30 sm:mb-fs-30")
                        .cases__item-user.inline-block.p-mob-5.mr-mob-12(class="sm:p-fs-10 sm:mr-fs-24 bg-[#E1E1E1]")
                            img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-30 sm:h-fs-30" src="/assets/img/user.svg" data-src="/assets/img/user.svg" alt="")
                        span.cases__item-userinfo.uppercase.font-bold.text-mob-10(class="sm:text-fs-13") МИХАИЛ, г. Москва
                    .cases__item-body
                        p.uppercase.font-bold.text-mob-11.mb-mob-14(class="sm:text-fs-13 sm:mb-fs-20") ЗАДАЧА:
                        p.uppercase.font-bold.text-mob-14.mb-mob-20(class="sm:text-fs-18 sm:mb-fs-40") забрать катер от клиента, подобрать оборудование для комфортного выхода в море на дальние расстояния. 
                        div.cases__item-main.text-mob-12(class="sm:text-fs-14")
                            //- Здесь может быть простой wysiwyg 
                            p Организовали забор катера от клиента. Заранее договорились об удобной дате и времени приезда. Своими силами погрузили и отвезли в мастерскую. Подобрали необходимое оборудование согласно поставленной задаче. В рекордно короткие сроки все установили. В назначенный день привезли яхту обратно. 
                            p Поставили только действительно необходимое оборудование, клиент не переплатил и уже наслаждается путешествием. 
    section.section.cta.lozad(data-background-image="/assets/img/wave.webp")
        .inner
    section.section.reviews.pt-mob-40.overflow-hidden(class="sm:pt-fs-100")
        .grid.grid-cols-1(class="sm:grid-cols-4")
            .flex.flex-row.mb-mob-36.justify-center(class="sm:mb-fs-40 sm:items-center sm:justify-between sm:col-start-2 sm:col-end-4")
                h2.leading-140.uppercase.font-bold.text-mob-26(class="sm:text-fs-40") ОТЗЫВЫ КЛИЕНТОВ
                .slider__arrows.hidden(class="sm:block")
                    .reviews-prev.arrow.--prev
                    .reviews-next.arrow
        .slider__items.reviews__items.inner
            .slider__item.reviews__item.p-mob-20(class="sm:p-fs-30 bg-[#1D1D1D]")
                .slide-inner.w-mob-280(class="sm:w-fs-385")
                    .reviews__item-head.pb-mob-16.border-b-rs-gray.border-b-mob-1.mb-mob-20.flex.flex-row.items-center(class="sm:border-b-fs-1 sm:pb-fs-30 sm:mb-fs-30")
                        .reviews__item-user.inline-block.p-mob-5.mr-mob-12(class="sm:p-fs-10 sm:mr-fs-24 bg-[#E1E1E1]")
                            img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-30 sm:h-fs-30" src="/assets/img/user.svg" data-src="/assets/img/user.svg" alt="")
                        span.reviews__item-userinfo.uppercase.font-bold.text-mob-10(class="sm:text-fs-13") МИХАИЛ, г. Москва
                    .reviews__item-body
                        div.cases__item-main.text-mob-12(class="sm:text-fs-16")
                            //- Здесь может быть простой wysiwyg 
                            p Это значит, что вы можете полностью доверить нам задачи по подбору и обслуживанию катеров. Мы готовы предложить индивидуальные, смелые и функциональные решения для каждого клиента. 
                            p Это значит, что вы можете полностью доверить нам задачи по подбору и обслуживанию катеров. Мы готовы предложить индивидуальные, смелые и функциональные решения для каждого клиента. 
            .slider__item.reviews__item.p-mob-20(class="sm:p-fs-30 bg-[#1D1D1D]")
                .slide-inner.w-mob-280(class="sm:w-fs-385")
                    .reviews__item-head.pb-mob-16.border-b-rs-gray.border-b-mob-1.mb-mob-20.flex.flex-row.items-center(class="sm:border-b-fs-1 sm:pb-fs-30 sm:mb-fs-30")
                        .reviews__item-user.inline-block.p-mob-5.mr-mob-12(class="sm:p-fs-10 sm:mr-fs-24 bg-[#E1E1E1]")
                            img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-30 sm:h-fs-30" src="/assets/img/user.svg" data-src="/assets/img/user.svg" alt="")
                        span.reviews__item-userinfo.uppercase.font-bold.text-mob-10(class="sm:text-fs-13") МИХАИЛ, г. Москва
                    .reviews__item-body
                        div.cases__item-main.text-mob-12(class="sm:text-fs-16")
                            //- Здесь может быть простой wysiwyg 
                            p Это значит, что вы можете полностью доверить нам задачи по подбору и обслуживанию катеров. Мы готовы предложить индивидуальные, смелые и функциональные решения для каждого клиента. 
                            p Это значит, что вы можете полностью доверить нам задачи по подбору и обслуживанию катеров. Мы готовы предложить индивидуальные, смелые и функциональные решения для каждого клиента. 
            .slider__item.reviews__item.p-mob-20(class="sm:p-fs-30 bg-[#1D1D1D]")
                .slide-inner.w-mob-280(class="sm:w-fs-385")
                    .reviews__item-head.pb-mob-16.border-b-rs-gray.border-b-mob-1.mb-mob-20.flex.flex-row.items-center(class="sm:border-b-fs-1 sm:pb-fs-30 sm:mb-fs-30")
                        .reviews__item-user.inline-block.p-mob-5.mr-mob-12(class="sm:p-fs-10 sm:mr-fs-24 bg-[#E1E1E1]")
                            img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-30 sm:h-fs-30" src="/assets/img/user.svg" data-src="/assets/img/user.svg" alt="")
                        span.reviews__item-userinfo.uppercase.font-bold.text-mob-10(class="sm:text-fs-13") МИХАИЛ, г. Москва
                    .reviews__item-body
                        div.cases__item-main.text-mob-12(class="sm:text-fs-16")
                            //- Здесь может быть простой wysiwyg 
                            p Это значит, что вы можете полностью доверить нам задачи по подбору и обслуживанию катеров. Мы готовы предложить индивидуальные, смелые и функциональные решения для каждого клиента. 
                            p Это значит, что вы можете полностью доверить нам задачи по подбору и обслуживанию катеров. Мы готовы предложить индивидуальные, смелые и функциональные решения для каждого клиента. 
            .slider__item.reviews__item.p-mob-20(class="sm:p-fs-30 bg-[#1D1D1D]")
                .slide-inner.w-mob-280(class="sm:w-fs-385")
                    .reviews__item-head.pb-mob-16.border-b-rs-gray.border-b-mob-1.mb-mob-20.flex.flex-row.items-center(class="sm:border-b-fs-1 sm:pb-fs-30 sm:mb-fs-30")
                        .reviews__item-user.inline-block.p-mob-5.mr-mob-12(class="sm:p-fs-10 sm:mr-fs-24 bg-[#E1E1E1]")
                            img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-30 sm:h-fs-30" src="/assets/img/user.svg" data-src="/assets/img/user.svg" alt="")
                        span.reviews__item-userinfo.uppercase.font-bold.text-mob-10(class="sm:text-fs-13") МИХАИЛ, г. Москва
                    .reviews__item-body
                        div.cases__item-main.text-mob-12(class="sm:text-fs-16")
                            //- Здесь может быть простой wysiwyg 
                            p Это значит, что вы можете полностью доверить нам задачи по подбору и обслуживанию катеров. Мы готовы предложить индивидуальные, смелые и функциональные решения для каждого клиента. 
                            p Это значит, что вы можете полностью доверить нам задачи по подбору и обслуживанию катеров. Мы готовы предложить индивидуальные, смелые и функциональные решения для каждого клиента. 
            .slider__item.reviews__item.p-mob-20(class="sm:p-fs-30 bg-[#1D1D1D]")
                .slide-inner.w-mob-280(class="sm:w-fs-385")
                    .reviews__item-head.pb-mob-16.border-b-rs-gray.border-b-mob-1.mb-mob-20.flex.flex-row.items-center(class="sm:border-b-fs-1 sm:pb-fs-30 sm:mb-fs-30")
                        .reviews__item-user.inline-block.p-mob-5.mr-mob-12(class="sm:p-fs-10 sm:mr-fs-24 bg-[#E1E1E1]")
                            img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-30 sm:h-fs-30" src="/assets/img/user.svg" data-src="/assets/img/user.svg" alt="")
                        span.reviews__item-userinfo.uppercase.font-bold.text-mob-10(class="sm:text-fs-13") МИХАИЛ, г. Москва
                    .reviews__item-body
                        div.cases__item-main.text-mob-12(class="sm:text-fs-16")
                            //- Здесь может быть простой wysiwyg 
                            p Это значит, что вы можете полностью доверить нам задачи по подбору и обслуживанию катеров. Мы готовы предложить индивидуальные, смелые и функциональные решения для каждого клиента. 
                            p Это значит, что вы можете полностью доверить нам задачи по подбору и обслуживанию катеров. Мы готовы предложить индивидуальные, смелые и функциональные решения для каждого клиента. 
include components/footer.pug