include components/header.pug
main.main
    section.section.services.font-bold.uppercase.mb-mob-30(class="sm:mb-0")
        .services__top.text-center(class="sm:text-left")
            .lozad.pt-mob-220.pb-mob-40(class="sm:pt-fs-145 sm:pb-fs-150")
                .inner
                    h1.text-mob-30.mb-mob-20.leading-140(class="text-left sm:leading-110 sm:text-fs-60 sm:mb-fs-70 sm:max-w-[70%]") Комплексное обслужива&shy;ние лодок, катеров, моторов
                    a.block.button.text-mob-14.text-center.show-popup.popup-services-front(href="#popup" class="sm:w-fit sm:text-fs-16") Проконсультироваться со специалистом
        .services__bottom.border-t.border-t-rs-gray(class="sm:border-b-rs-gray sm:border-b")
    ul.tags.inner
        li Услуги сервисного центра
        li Корпусный ремонт
        li Консервация катеров
        li Консервация и расконсервация двигателя лодки
        li Техническое обслуживание
        li Установка дополнительного оборудования
        li Подключение лодочных моторов
        li Монтаж навигационного оборудования
        li Ремонт лодочных моторов
        li Пошив тентов, чехлов
        li Подготовка лодок к путешествию и рыбалке
        li Покраска и полировка корпуса катера
        li Палубное покрытие из искусственного тика «ATLANTEAK»
        li Восстановление гелькоута
    section.section.services
        .services__item.--page.grid.grid-cols-1#preparation(class="sm:grid-cols-2")
            div.relative(class="sm:order-2")
                div.absolute.h-full.w-full.top-0.left-0(class="")
                div.w-full.bg-no-repeat.bg-center.bg-cover.h-mob-345(class="sm:h-full bg-[url('/assets/img/services/service_1.webp')]")
            div(class="sm:order-1")
                div.inner.bg-white.text-black.py-mob-30(class="sm:pt-fs-70 sm:pb-fs-50 sm:pr-fs-285")
                    h2.leading-140.font-bold.uppercase.text-mob-18.mb-mob-30(class="sm:text-fs-30 sm:mb-fs-20") Подготовка лодок к путешествию и рыбалке
                    h3.leading-140.font-bold.uppercase.text-mob-14.mb-mob-18(class="sm:text-fs-18 sm:mb-fs-20") Профессиональное усиления ходовых качеств лодки и комфортабельности. 
                    ul
                        li Разработаем индивидуальную концепцию для вашего судна, подчеркнем ваш стиль. 
                        li Беремся за сложные проекты, находим нестандартные решения, просчитываем мельчайшие детали. 
                    h4.leading-140.font-bold.uppercase.text-mob-11.mt-mob-30.mb-mob-18(class="sm:text-fs-13 sm:my-fs-20") Краткий перечень выполняемых услуг: 
                    ul
                        li Бронирование дна. 
                        li Замена и усовершенствование транцов. 
                        li Изготовление и установка фальшборта, киля. 
                        li Замена и установка различных элементов фурнитуры. 
                        li Установка дополнительных аксессуаров: тарги, консоли, дистанция. 
                        li Разметка и установка тентов.
                div.inner.py-mob-26(class="sm:pt-fs-70 sm:pb-fs-50")
                    div.grid.grid-cols-1.gap-y-mob-10.text-white(class="sm:gap-x-fs-10 sm:gap-y-fs-20 sm:grid-cols-3 sm:grid-rows-[4.271vw_4.271vw]")
                        div.flex.flex-row.items-center.gap-x-mob-15.triangle.py-mob-18.px-mob-20(class="sm:gap-x-fs-15 bg-[#1D1D1D] sm:py-fs-30 sm:px-fs-20")
                            img.w-mob-24.h-mob-24.lozad(class="sm:w-fs-24 sm:h-fs-24" src="/assets/img/clock.svg" data-src="/assets/img/clock.svg" alt="Часы")
                            span.leading-160.text-mob-16(class="sm:text-fs-16") Сроки: от 2-х дней
                        div.flex.flex-row.items-center.gap-x-mob-15.triangle.py-mob-18.px-mob-20(class="sm:gap-x-fs-15 bg-[#1D1D1D] sm:py-fs-30 sm:px-fs-20")
                            img.w-mob-24.h-mob-24.lozad(class="sm:w-fs-24 sm:h-fs-24" src="/assets/img/ruble.svg" data-src="/assets/img/ruble.svg" alt="Рубль")
                            span.leading-160.text-mob-16(class="sm:text-fs-16") Цена: от 4 000₽
                        a.button.block.text-center.mt-mob-10.show-popup.popup-serives-prep(class="sm:py-fs-27 sm:mt-0 sm:col-span-2 sm:text-fs-16 sm:leading-200" href="#popup")  Оставить заявку
        .services__item.--page.grid.grid-cols-1#maintenance(class="sm:grid-cols-2")
            div.relative
                div.absolute.h-full.w-full.top-0.left-0
                div.w-full.bg-no-repeat.bg-center.bg-cover.h-mob-345(class="sm:h-full bg-[url('/assets/img/services/service_2.webp')]")
            div
                div.inner.bg-white.text-black.py-mob-30(class="sm:pt-fs-70 sm:pb-fs-50 sm:pr-fs-285")
                    h2.leading-140.font-bold.uppercase.text-mob-18.mb-mob-30(class="sm:text-fs-30 sm:mb-fs-20") Техническое обслуживание
                    h3.leading-140.font-bold.uppercase.text-mob-14.mb-mob-18(class="sm:text-fs-18 sm:mb-fs-20") Регулярное техническое обслуживание — непременное условие безопасной эксплуатации и залог того, что ваш водный транспорт прослужит вам долго и не доставит хлопот.
                    ul
                        li Делаем с умом, экономим ваше время и деньги. 
                        li Даем гарантии от 2-х лет на все выполняемые работы. 
                    h4.leading-140.font-bold.uppercase.text-mob-11.mt-mob-30.mb-mob-18(class="sm:text-fs-13 sm:my-fs-20") Краткий перечень выполняемых услуг: 
                    ul
                        li Обследование корпуса на предмет потертостей, коррозии, следов разрушения.
                        li Тест двигателя и всех силовых агрегатов.
                        li Подробную диагностика электросистем.
                div.inner.py-mob-26(class="sm:pt-fs-70 sm:pb-fs-50")
                    div.grid.grid-cols-1.gap-y-mob-10.text-white(class="sm:gap-x-fs-10 sm:gap-y-fs-20 sm:grid-cols-3 sm:grid-rows-[4.271vw_4.271vw]")
                        div.flex.flex-row.items-center.gap-x-mob-15.triangle.py-mob-18.px-mob-20(class="sm:gap-x-fs-15 bg-[#1D1D1D] sm:py-fs-30 sm:px-fs-20")
                            img.w-mob-24.h-mob-24.lozad(class="sm:w-fs-24 sm:h-fs-24" src="/assets/img/clock.svg" data-src="/assets/img/clock.svg" alt="Часы")
                            span.leading-160.text-mob-16(class="sm:text-fs-16") Сроки: от 2-х дней
                        div.flex.flex-row.items-center.gap-x-mob-15.triangle.py-mob-18.px-mob-20(class="sm:gap-x-fs-15 bg-[#1D1D1D] sm:py-fs-30 sm:px-fs-20")
                            img.w-mob-24.h-mob-24.lozad(class="sm:w-fs-24 sm:h-fs-24" src="/assets/img/ruble.svg" data-src="/assets/img/ruble.svg" alt="Рубль")
                            span.leading-160.text-mob-16(class="sm:text-fs-16") Цена: от 4 000₽
                        a.button.block.text-center.mt-mob-10.show-popup.popup-serives-maintenance(class="sm:py-fs-27 sm:mt-0 sm:col-span-2 sm:text-fs-16 sm:leading-200" href="#popup")  Оставить заявку
        .services__item.--page.grid.grid-cols-1#coating(class="sm:grid-cols-2")
            div.relative(class="sm:order-2")
                div.absolute.h-full.w-full.top-0.left-0(class="")
                div.w-full.bg-no-repeat.bg-center.bg-cover.h-mob-345(class="sm:h-full bg-[url('/assets/img/services/service_3.webp')]")
            div(class="sm:order-1")
                div.inner.bg-white.text-black.py-mob-30(class="sm:pt-fs-70 sm:pb-fs-50 sm:pr-fs-285")
                    h2.leading-140.font-bold.uppercase.text-mob-18.mb-mob-30(class="sm:text-fs-30 sm:mb-fs-20") Палубное покрытие <br> из искусственного тика «ATLANTEAK»
                    h3.leading-140.font-bold.uppercase.text-mob-14.mb-mob-18(class="sm:text-fs-18 sm:mb-fs-20") Преобразим ваше судно. Работы с долговечными и прочными материалами. <br> Плотная структура дерева, огне — и влагостойкость.
                    ul
                        li Добавим свежести, функционала и цвета вашему судну, 12+ цветов. 
                        li Гибкая ценовая политика под разные задачи. 
                        li Сделаем реконструкцию существующей отделки. 
                    h4.leading-140.font-bold.uppercase.text-mob-11.mt-mob-30.mb-mob-18(class="sm:text-fs-13 sm:my-fs-20") Краткий перечень выполняемых услуг: 
                    ul
                        li Подготовка лекал, подбор рисунка. 
                        li Установка палубного покрытия. 
                        li Восстановление и чистка тиковых покрытий.
                div.inner.py-mob-26(class="sm:pt-fs-70 sm:pb-fs-50")
                    div.grid.grid-cols-1.gap-y-mob-10.text-white(class="sm:gap-x-fs-10 sm:gap-y-fs-20 sm:grid-cols-3 sm:grid-rows-[4.271vw_4.271vw]")
                        div.flex.flex-row.items-center.gap-x-mob-15.triangle.py-mob-18.px-mob-20(class="sm:gap-x-fs-15 bg-[#1D1D1D] sm:py-fs-30 sm:px-fs-20")
                            img.w-mob-24.h-mob-24.lozad(class="sm:w-fs-24 sm:h-fs-24" src="/assets/img/clock.svg" data-src="/assets/img/clock.svg" alt="Часы")
                            span.leading-160.text-mob-16(class="sm:text-fs-16") Сроки: от 2-х дней
                        div.flex.flex-row.items-center.gap-x-mob-15.triangle.py-mob-18.px-mob-20(class="sm:gap-x-fs-15 bg-[#1D1D1D] sm:py-fs-30 sm:px-fs-20")
                            img.w-mob-24.h-mob-24.lozad(class="sm:w-fs-24 sm:h-fs-24" src="/assets/img/ruble.svg" data-src="/assets/img/ruble.svg" alt="Рубль")
                            span.leading-160.text-mob-16(class="sm:text-fs-16") Цена: от 4 000₽
                        a.button.block.text-center.mt-mob-10.show-popup(class="sm:py-fs-27 sm:mt-0 sm:col-span-2 sm:text-fs-16 sm:leading-200" href="#popup")  Оставить заявку
                    //- div.grid.grid-cols-1(class="sm:grid-cols-3")
            

    include components/section_reviews.pug
    include components/section_info.pug
    section.section.contacts
        .flex.flex-col.inner.pt-mob-40(class="sm:flex-row sm:justify-between sm:pt-fs-50 sm:border-t-fs-1 sm:border-t-rs-gray")
            h2.text-mob-18.font-bold.uppercase.text-center(class="sm:text-fs-30 sm:text-left") Контакты
            div.flex.flex-col.items-center.gap-y-mob-30.text-center.mt-mob-36(class="sm:text-left sm:flex-row sm:gap-y-0 sm:justify-between sm:mt-0")
                div.flex.flex-col.items-center.gap-y-mob-30.text-center(class="sm:text-left sm:flex-row sm:gap-y-0")
                    div.flex.flex-col.items-center.gap-y-mob-20(class="sm:flex-row sm:gap-x-fs-20 sm:gap-y-0 sm:mr-fs-70")
                        img.lozad.w-mob-24.h-mob-24(class="sm:w-fs-24 sm:h-fs-24" src="/assets/img/pin.svg" data-src="/assets/img/pin.svg" alt="Указатель")
                        p.text-mob-11.leading-160(class="sm:text-fs-13") Долгопрудный, <br> улица Уличных улиц, дом 15
                div.flex.flex-col.items-center.gap-y-mob-30.text-center(class="sm:text-left sm:flex-row sm:gap-y-0")
                    div.flex.flex-col.items-center.gap-x-fs-14(class="sm:flex-row sm:mr-fs-55")
                        div.flex.flex-col.items-center.gap-y-mob-20.mb-mob-14(class="sm:flex-row sm:ml-fs-55 sm:gap-x-fs-20 sm:mb-0")
                            img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-20 sm:h-fs-20" src="/assets/img/phone.svg" data-src="/assets/img/phone.svg" alt="Телефон")
                            a.text-mob-14(href="tel:HREF_TEL" class="sm:text-fs-18") +7 (499) 000-00-00
                        div.flex.flex-row.items-center.gap-x-mob-14(class="sm:gap-x-fs-14")
                            a(href="HREF_WHATSAPP")
                                img.lozad.w-mob-20.h-mob-20(class="sm:w-fs-20 sm:h-fs-20" src="/assets/img/wa.svg" data-src="/assets/img/wa.svg" alt="WhatsApp")
                            a(href="HREF_TELEGRAM")
                                img.lozad.w-mob-20.h-mob-16(class="sm:w-fs-20 sm:h-fs-16" src="/assets/img/tg.svg" data-src="/assets/img/tg.svg" alt="Telegram")
                    a(href="#popup").popup-contacts.show-popup.button.--small.text-center.inline-block перезвоните мне
        <div class="inner mt-mob-40 sm:mt-fs-50" style="position:relative;overflow:hidden;">
            <a href="https://yandex.com/maps/10131/chicago/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Чикаго</a>
            <a href="https://yandex.com/maps/10131/chicago/?ll=-87.621499%2C41.875177&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgoyMjQwNTc0MzIwEkFVbml0ZWQgU3RhdGVzIG9mIEFtZXJpY2EsIFN0YXRlIG9mIElsbGlub2lzLCBDb29rIENvdW50eSwgQ2hpY2FnbyIKDV4_r8IVv4AnQg%2C%2C&utm_medium=mapframe&utm_source=maps&z=15.29" style="color:#eee;font-size:12px;position:absolute;top:14px;">Чикаго — Яндекс Карты</a>
            <iframe class="lozad w-full h-[108.333vw] sm:h-fs-500" data-src="https://yandex.com/map-widget/v1/?ll=-87.621499%2C41.875177&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgoyMjQwNTc0MzIwEkFVbml0ZWQgU3RhdGVzIG9mIEFtZXJpY2EsIFN0YXRlIG9mIElsbGlub2lzLCBDb29rIENvdW50eSwgQ2hpY2FnbyIKDV4_r8IVv4AnQg%2C%2C&z=15.29" style="position:relative;"></iframe>
        </div>
include components/footer.pug